/* Start:/local/templates/oilgasforum_2020/css/sass/main.css?159664358945529*/
.hidden {
    display: none
}

.form label.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0 .2rem;
    border-radius: .1rem;
    font-size: .8rem;
    position: relative;
    top: -0.5rem
}

.extend_1, .form-custom .form-line input[type=text], .form-custom .form-line input[type=email] {
    background: #d8e0e8;
    padding-left: 27px;
    border: none;
    width: 100%;
    max-width: 32.86rem;
    float: right
}

.anchor {
    display: block;
    position: relative;
    top: -96px;
    visibility: hidden
}

.color-inherit {
    color: inherit
}

.with-download-icon {
    position: relative;
    font-size: .6875rem;
    line-height: .75rem
}

.with-download-icon:before {
    content: "";
    background: url("/local/templates/oilgasforum_2019.01/images/2019-images/download-icon.png") no-repeat;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
    display: block;
    position: absolute;
    left: -1.7rem;
    bottom: 0
}

@font-face {
    font-family: AktivGroteskRegular;
    font-display: swap;
    src: local("Aktiv Grotesk Regular"), local("AktivGrotesk-Regular"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Regular.woff2) format("woff2"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Regular.woff) format("woff"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Regular.ttf) format("truetype")
}

@font-face {
    font-family: AktivGroteskMedium;
    font-display: swap;
    src: local("Aktiv Grotesk Medium"), local("AktivGrotesk-Medium"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Medium.woff2) format("woff2"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Medium.woff) format("woff"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Medium.ttf) format("truetype")
}

@font-face {
    font-family: AktivGroteskLight;
    font-display: swap;
    src: url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Light.ttf);
    src: local("Aktiv Grotesk Light"), local("AktivGrotesk-Light"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Light.woff2) format("woff2"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Light.woff) format("woff"), url(/local/templates/oilgasforum_2020/css/sass/../../fonts/AktivGrotesk-Light.ttf) format("truetype")
}

@font-face {
    font-family: Circe;
    font-display: swap;
    src: url(/local/templates/oilgasforum_2020/css/sass/../../fonts/Circe-Regular.ttf)
}

@font-face {
    font-family: HelveticaLite;
    font-display: swap;
    src: url(/local/templates/oilgasforum_2020/css/sass/../../fonts/HelveticaLite.otf)
}

.transparent-back {
    background-color: transparent !important
}

.section-title--pad {
    margin-bottom: 1.875rem !important
}

.col-bordered {
    border-top: 1px solid #6397dc;
    border-bottom: 1px solid #6397dc
}

.col-bordered.col-bordered_stack_approx {
    border-top: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e
}

.filter-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right
}

.filter-buttons a {
    display: block;
    min-width: 7rem;
    padding: .75rem 1.25rem;
    margin-left: 1.875rem;
    font-size: .875rem;
    color: #000;
    background-color: #dcf0ff;
    border-radius: .125rem;
    text-align: center
}

.filter-buttons a:hover {
    color: #fff;
    background-color: #156ee6;
    text-decoration: none
}

.filter-buttons a.active {
    color: #fff;
    background-color: #156ee6
}

.flexed-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flexed-title > * {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}

.ex-card {
    margin-top: 2.143rem;
    color: #b1c1d2
}

.ex-card .ex-card__title {
    border-bottom: 1px solid #848690;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: .7143rem
}

.ex-card .ex-card__title .ex-card__name {
    font-size: 1.714rem;
    color: #09131f
}

.ex-card .ex-card__title .ex-card__vars {
    font-size: 1.614rem;
    min-width: 11rem
}

.ex-card .ex-card__title .ex-card__vars a {
    color: #09131f;
    margin: 0 .7143rem
}

.ex-card .ex-card__title .ex-card__vars a:hover {
    text-decoration: none
}

.ex-card .ex-card__h {
    font-size: 1.714rem;
    margin-bottom: 1.071rem
}

.ex-card .ex-card__gallery {
    margin: 3.2rem;
    height: 24.29rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden
}

.ex-card .ex-card__gallery img {
    position: relative;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    position: absolute
}

.ex-card .ex-card__gallery img.img-hidden {
    opacity: 0
}

.s16 {
    font-size: 1.143rem !important
}

.s13 {
    font-size: .9286rem !important
}

.s36 {
    font-size: 2.571rem !important
}

.s1 {
    font-size: 1rem !important
}

.h {
    font-family: Helvetica
}

.hl {
    font-family: AktivGroteskLight, sans-serif
}

.ib {
    display: inline-block;
    vertical-align: top
}

.relative {
    position: relative
}

.text-right {
    text-align: right
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}

* {
    outline: none
}

html {
    font-size: 14px
}

html body {
    background: #fff;
    font-family: AktivGroteskRegular, sans-serif;
    position: relative
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

header {
    background-color: #171a23
}

header img {
    width: 100%
}

header li {
    display: inline;
    padding-right: .8571rem
}

header a {
    color: #fff;
    font-size: 1rem
}

header a:hover {
    color: #156ee6;
    text-decoration: none
}

header a:focus {
    text-decoration: none;
    outline: none
}

header .container {
    padding: 0
}

header .header-container {
    padding: .8571rem 5% 2rem
}

.img_h {
    overflow: hidden
}

.img_wrap_back {
    background-size: cover !important;
    background-position: center center !important
}

.row-noWrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    overflow-y: scroll;
    scrollbar-width: none
}

.row-noWrap::-webkit-scrollbar {
    display: none
}

.logo-col {
    padding-right: 15px;
    padding-left: 15px
}

.logo-col img {
    width: 7.5625rem
}

.logo_link {
    display: block
}

.m-wrap {
    display: inline-block
}

.m-wrap:hover a {
    color: #fff
}

.m-wrap:hover .phone-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/phone-icon-hover.svg) no-repeat;
    background-size: cover !important
}

.m-wrap:hover .marker-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/map-icon-hover.svg) no-repeat;
    background-size: cover
}

.m-wrap:hover .mail-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/mail-icon-hover.svg) no-repeat;
    background-size: cover
}

.m-wrap a {
    color: #fff;
    display: block
}

.m-wrap a:hover {
    text-decoration: none
}

.m-wrap .m-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    margin-top: -0.3571rem;
    margin-right: .7857rem;
    background-size: cover !important
}

.m-wrap .phone-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/phone-icon.svg) no-repeat;
    background-size: cover !important
}

.m-wrap .marker-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/map-icon.svg) no-repeat
}

.m-wrap .mail-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/mail-icon.svg) no-repeat
}

.soc {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    margin-top: -0.3571rem;
    margin-right: .3571rem;
    background-size: cover !important
}

.vk {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/vk-icon.svg) no-repeat
}

.vk:hover {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/vk-icon-hover.svg) no-repeat
}

.fb {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/face-icon.svg) no-repeat
}

.fb:hover {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/face-icon-hover.svg) no-repeat
}

.inst {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/inst-icon.svg) no-repeat
}

.inst:hover {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/inst-icon-hover.svg) no-repeat
}

.teaser {
    position: relative;
    background: rgba(0, 0, 0, 0.5)
}

.teaser .video-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1
}

.teaser .video-wrap video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.teaser-content__top {
    margin-top: 4rem
}

.teaser-content__date {
    color: #7de2f4;
    font-size: 1.071rem
}

.teaser-content__title {
    color: #fff;
    font-size: 1.929rem;
    font-family: AktivGroteskRegular;
    padding: .7rem 0;
    line-height: 2.214rem;
    font-weight: normal;
    margin: 0
}

.teaser-content__button {
    width: 47%;
    padding-top: 1.714rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0
}

.bt {
    color: #fff;
    padding: .5714rem 1.5rem .5914em;
    border: none;
    display: inline-block;
    font-size: 1rem;
    font-family: AktivGroteskRegular
}

.about-section {
    padding: 90px 0;
}
.about-img img {
    float: right;
    max-height: 290px;
}
.advantages {
    padding: 100px 0 80px;
}
.advantages h3 {
    margin-bottom: 0;
}
.advantages-blocks {
    padding: 0 30px;
}
.advantages-block {
    padding: 35px 0;
}
.advantages-block.blue {
    border-bottom: 1px solid #156EE6;
}
.advantages-desc {
    margin-bottom: 0;
}
.advantages-title {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    color: #156EE6;
    padding-left: 32px;
}
.advantages-title:before {
    position: absolute;
    content:'';
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
    background: url('../img/adv-icon3.svg') center/cover no-repeat;
}
.advantages-online {
    background: #DCEFFE;
    padding: 40px 0;
}
.advantages-online .advantages-title:before {
    position: absolute;
    font-size: 26px;
    left: 0;
    top: -1px;
    background: none;
}
.advantages-online .advantages-title.one:before {
    content:'1';
}
.advantages-online .advantages-title.two:before {
    content:'2';
}
.advantages-online .advantages-title.three:before {
    content:'3';
}
.advantages-online h3 {
    margin-bottom: 30px;
}
.advantages-online-block {
    padding: 20px 0;
    border-top: 1px solid #B6B6B6;
    border-bottom: 1px solid #B6B6B6;
}
.adv-btn a {
    height: 40px;
    width: 85%;
    margin-top: 14px;
    padding-top: 11px;
}
.packages h3 {
    font-size: 32px;
    margin-bottom: 30px;
}
.bt-info {
    background: #156ee6
}

.bt-info:hover {
    color: #fff;
    text-decoration: none
}

.teaser__content-container {
    min-height: calc(100vh - 92px);
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.teaser-news {
    padding: 0 1.071rem;
    padding-bottom: 1.786rem;
    width: 100%
}

.teaser-item {
    display: block;
    border-top: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
    padding: .5rem 0
}

.teaser-item:hover {
    text-decoration: none
}

.teaser-item .teaser-item__date {
    color: #7de2f4;
    font-size: .8571rem
}

.teaser-item .teaser-item__content {
    color: #fff;
    font-size: .9286rem;
    margin-top: 1.429rem;
    line-height: 1.3
}

.arrows-wrap {
    padding-bottom: 17px
}

.el {
    border: 1px solid #7de2f4;
    border-radius: 100px;
    height: 20px;
    margin-top: 5px;
    width: 20px;
    display: inline-block;
    position: relative
}

.arrow {
    border-top: 1px solid #7de2f4;
    border-left: 1px solid #7de2f4;
    width: 7px;
    height: 7px;
    display: inline-block;
    position: absolute;
    top: 5.5px;
    left: 6.9px
}

.arrow-left {
    -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg)
}

.arrow-right {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 4px
}

.arrow-container {
    position: relative
}

.brands-slider-arrws {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 8%;
    z-index: 15
}

.brands-el {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/Group211.svg) no-repeat
}

.brands-el:hover {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/Group212.svg) no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.brands-el-right {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.brands-el-right:hover {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.all-news-link {
    color: #7de2f4;
    text-decoration: underline;
    display: block;
    margin-top: .6429rem;
    margin-left: -0.9286rem;
    font-size: .8571rem
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden
}

.section-title {
    color: #156ee6;
    font-size: 2.571rem;
    font-weight: normal;
    margin: 0;
    padding: 0
}

.section-content {
    padding-top: 2.357rem;
    padding-bottom: 5.429rem
}

.about-text {
    color: #404041;
    border-top: 1px solid #afafaf;
    padding: 1.357rem 1.071rem 1.786rem 1.071rem;
    line-height: 1.2
}

.doc-text {
    display: inline-block;
    vertical-align: top;
    padding-left: .8571rem;
    line-height: 1.3;
    color: #404041
}

.dcother {
    color: #fff
}

.about-stats .about-stats__content {
    padding: 0 0 1.2rem 1rem
}

.about-stats .about-stats__content a {
    font-size: .8571rem;
    padding-top: 1rem
}

.about-stats .about-stats__content a:hover {
    text-decoration: none
}

.about-stats .stats-number {
    font-size: 3.929rem;
    font-family: AktivGroteskLight, sans-serif;
    color: #156ee6;
    line-height: 1.4
}

.about-stats .stats-desc {
    color: #404041;
    line-height: 1
}

.row-border-bottom {
    position: relative
}

.row-border-bottom:before {
    content: "";
    position: absolute;
    height: 1px;
    background: #afafaf;
    bottom: 0;
    width: 95%;
    margin: 0 1.071rem
}

.about-stats__pad {
    padding-bottom: 1.286rem !important
}

.doc-icons {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-size: contain !important
}

.pdf-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/pdf_icon.svg) no-repeat
}

.pdf-icon-reverse {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/p-hover.svg) no-repeat
}

.badge-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/badge-icon.svg) no-repeat
}

.manager-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/manager.svg) no-repeat;
    background-size: cover
}

.otherDoc-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/otherDoc_icon.svg) no-repeat
}

.photo-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/photo-camera-icon.svg) no-repeat;
    background-size: contain
}

.int-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/int.svg) no-repeat
}

.blue-section {
    background: #156ee6;
    padding-bottom: 4.857rem
}

.blue-section .b-news-list__item-date {
    color: #fff
}

.blue-section .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #505151;
    height: 1px
}

.blue-section .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 16px;
    height: 16px;
    background-color: #dcf0ff !important
}

.blue-section .mCSB_scrollTools.mCSB_scrollTools_horizontal:hover .mCSB_dragger .mCSB_dragger_bar {
    background-color: #7ce1f5 !important
}

.section-title__white {
    color: #fff;
    padding-bottom: 3.571rem
}

.spiker-item {
    min-width: 11.79rem;
    max-width: 16rem;
    background: #dcf0ff;
    margin-right: 0;
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.spiker-item .mini_play {
    display: block;
    position: absolute;
    top: 10%;
    right: 9%;
    width: 1rem;
    height: 1rem;
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/play_icon.svg) no-repeat
}

.spiker-item:last-child {
    margin-right: 0
}

.spiker-img {
    background: #fff;
    margin-bottom: -1px
}

.spiker-img__noPhoto {
    min-height: 165px
}

.spiker-img__noPhoto img {
    margin-top: calc(50% - 15px);
    margin-left: calc(50% - 15px)
}

.spiker-about {
    padding: 1.429rem;
    color: #404041;
    position: relative
}

.spiker-about .spiker-name {
    font-size: 1.214rem;
    font-family: AktivGroteskRegular;
    line-height: 1.2;
    word-spacing: 10rem
}

.spiker-about .spiker-content {
    font-size: .7143rem;
    padding-top: 1.429rem;
    line-height: 1.2
}

.spiker-scrollbar {
    margin-top: 3.571rem;
    position: relative;
    background: #505151;
    height: 1px;
    border: none !important
}

.spiker-scrollbar .ui-state-default {
    width: 47px;
    height: 47px;
    top: -20px;
    left: -11px;
    cursor: pointer;
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/manipulator.png) no-repeat !important;
    border: none !important;
    outline: none
}

.img-wrap {
    position: relative;
    overflow: hidden
}

.img-wrap img {
    width: 100%
}

.img-wrap:hover .img-link-a {
    display: block
}

.img-wrap::before {
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    display: none
}

.img-link-a {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10
}

.img-link-a::before {
    content: "";
    position: absolute;
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/play_icon.svg) no-repeat;
    width: 56px;
    height: 56px;
    left: 50%;
    top: 50%;
    margin-top: -2rem;
    margin-left: -2rem
}

.repl-content {
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    padding: 1.071rem;
    height: 100%;
    position: relative
}

.person-indicator li {
    display: inline;
    font-family: AktivGroteskLight, sans-serif;
    font-size: 1.7rem;
    padding-left: 1.714rem;
    line-height: 1.3
}

.person-indicator li a {
    color: #e6e7e8
}

.person-indicator li a:hover {
    color: #156ee6 !important;
    text-decoration: none
}

.person-indicator li::last-child {
    padding-left: 0
}

.active_indicator {
    color: #156ee6 !important;
    text-decoration: none
}

.person-content {
    margin-top: 1.714rem;
    margin-left: 1.071rem;
    font-size: 1.2rem;
    line-height: 1.2
}

@media (min-width: 992px) {
    .person-content {
        min-height: 16rem
    }
}

.person-name {
    line-height: 1.3;
    padding-top: 2rem;
    padding-left: 1.071rem
}

.formats-area {
    color: #fff
}

.formats-area .formats_name:first-child {
    margin-top: 3px
}

.darkBlue-section {
    background: #171a23;
    padding: 3.571rem 0
}

.darkBlue-section .item-list .item-card {
    color: #000;
    background-color: #fff
}

.darkBlue-section .b-news-list__item-date {
    color: #fff
}

.formats-title {
    color: #4b566d;
    border-bottom: 1px solid #4b566d;
    padding-bottom: .7143rem
}

.formats-item {
    font-size: 1.5rem;
    padding: 1.35rem 0;
    color: #4b566d;
    border-bottom: 1px solid #4b566d
}

.formats-item.top-4 {
    padding: 1.35rem 0
}

.formats-item__center {
    text-align: center
}

.formats-content {
    font-size: 1.071rem;
    padding-top: .7143rem
}

.formats-content li {
    list-style: disc
}

.formats-content ul {
    padding-left: 1.429rem
}

.blue_border_1 {
    border-bottom: 4px solid #7de2f4
}

.blue_border_6 {
    border-bottom: 4px solid #156ee6
}

.blue_border_2 {
    border-bottom: 4px solid #67d0f6
}

.blue_border_3 {
    border-bottom: 4px solid #4dbaf8
}

.blue_border_4 {
    border-bottom: 4px solid #4dbaf8
}

.blue_border_5 {
    border-bottom: 4px solid #1b91fd
}

.hover {
    color: #fff
}

.bt-out {
    border: 1px solid #4b566d;
    color: #4b566d;
    font-size: .8571rem;
    font-family: AktivGroteskRegular;
    padding: .499rem 2.086rem
}

.bt-out:hover {
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none
}

.bt-out.bt-blue {
    color: #156ee6;
    border: 1px solid #156ee6
}

.bt-out-w {
    text-align: center;
    padding: .4714rem 10px .5714rem;
    font-size: .9286rem;
    font-family: AktivGroteskLight, sans-serif;
    display: block
}

.bt-out-hovered {
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none
}

.muted-desc {
    color: #4b566d;
    margin-top: 1rem;
    margin-right: 2.643rem;
    width: 100%;
    text-align: right
}

.select-text {
    font-family: AktivGroteskRegular;
    font-size: 1.429rem;
    line-height: 1.3
}

.formats-cards {
    padding: .5rem 0
}

.formats-cards .formats-card {
    width: 20%;
    background: #dcf0ff;
    color: #222633;
    border-radius: 4px;
    padding: 1.143rem 1.143rem .8571rem 1.357rem;
    font-size: 1.286rem;
    margin-bottom: 1.071rem
}

.formats-cards .formats-card .card-bt-wrap {
    padding-top: 5.286rem
}

.formats-cards .formats-card:hover {
    background: #156ee6;
    color: #fff
}

.formats-cards .formats-card:hover .bt-out-w {
    color: #fff;
    border: 1px solid #fff
}

.formats-cards .formats-card:nth-child(1):hover {
    background: #155dd3
}

.formats-cards .formats-card:nth-child(2):hover {
    background: #00a0fe
}

.formats-cards .formats-card:nth-child(3):hover {
    background: #09b9fb
}

.formats-cards .formats-card:nth-child(4):hover {
    background: #5dd1fa
}

.formats-cards .formats-card:nth-child(5):hover {
    background: #00d1f7
}

.formats-cards .formats-card:nth-child(6):hover {
    background: #00d1f7
}

.t90 {
    margin-top: 90px
}

.formats-indicator-area {
    border-top: 1px solid #4b566d;
    border-bottom: 1px solid #4b566d;
    padding: .7143rem 0;
    margin-top: 2.5rem;
    width: 100%
}

.formats-indicator__text {
    color: #fff
}

.f_indicator_wrap {
    position: relative;
    overflow: hidden;
    -webkit-transition: width .5s;
    transition: width .5s
}

.f_indicator {
    width: 1670px;
    min-width: 100%;
    height: 60px;
    background-position: left bottom;
    position: relative
}

.f_indicator img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.lightBlue-section {
    background: #dcf0ff
}

.lightBlue-section .item-list .item-card {
    background-color: #fff
}

.item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.item-list.scroll-slider {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.item-list a.item-card {
    color: inherit
}

.item-list a.item-card:hover {
    text-decoration: none
}

.item-list .item-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    background-color: #dcf0ff;
    margin-bottom: 1.5rem
}

.item-list .item-card.inactive .item-head {
    opacity: 50%
}

.item-list .item-card.inactive:hover .item-head {
    opacity: 100%
}

.item-list .item-card .item-head {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.item-list .item-card .item-head.fullwidth-image-head .item-image img {
    width: 100%
}

.item-list .item-card .item-content {
    padding: 1.325rem 1.9rem;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.item-list .item-card .item-content .item-title {
    min-height: 5.7rem;
    font-size: 1.2rem
}

.item-list .item-card .item-content .item-footer {
    font-size: .8rem;
    margin-top: 1.5rem
}

.item-list .item-card .item-content .item-footer .footer-by-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.item-list .item-card .item-content .item-footer .place-and-time > div {
    margin-bottom: .7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.item-list .item-card .item-content .item-footer .place-and-time img.icon {
    width: .95rem;
    margin-right: .375rem
}

.item-list .item-card .item-content .item-footer .bt-out {
    font-size: 1rem;
    text-align: center
}

.item-list.three-cols-row:after {
    content: "";
    width: 29%
}

.item-list.three-cols-row .item-card {
    width: 29%;
    margin-bottom: 6%
}

.orgs {
    padding: 2.357rem 0;
    line-height: 1.1;
    padding-bottom: .7143rem
}

.orgs_1 {
    width: 194px
}

.orgs_2 {
    margin-right: 1.429rem
}

.orgs_3 {
    width: 169px
}

.orgs-img {
    height: 150px
}

.orgs-img img {
    width: 6.857rem
}

.orgs-title {
    font-size: .8571rem
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}

.brands_slider {
    width: 100%;
    margin-top: 3.429rem
}

.brands-container {
    margin: 0 2rem;
    overflow: hidden
}

.brand-item {
    text-align: center;
    min-width: 180px
}

.brand-img {
    margin-top: 2.143rem
}

.brand-img img {
    margin: 0;
    max-width: 14.286rem;
    max-height: 14.286rem;
}

.brand-desc {
    font-size: .8571rem;
    color: #404041
}

.brands-section {
    padding-bottom: 2.786rem
}

footer {
    background: #171a23;
    padding: 25px 0;
    color: #fff;
    font-size: 1.286rem
}

footer .foo_infs {
    width: 37.4%;
    padding-right: 2.214rem
}

.f-link {
    color: #fff;
    font-size: .7143rem
}

.f-link:hover {
    color: #fff
}

.copyright {
    font-size: 1rem;
    color: #fff
}

.col-7-header {
    padding-top: 1.5rem;
    padding-left: 1rem
}

.col-3-header {
    padding-top: 1.5rem;
    padding-left: 3.286rem;
    padding-right: .4286rem
}

.pl0 {
    padding-left: 0
}

.custom-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.slick-list {
    width: 100%
}

.slick-news-slider .slick-slide {
    margin: 0 1.071rem
}

.slick-news-slider .slick-list {
    margin: 0 -1.071rem
}

.img-person {
    display: none
}

.person_js {
    display: none
}

.img-person-active {
    display: block
}

.person_js_active {
    display: block
}

.col-burger {
    display: none
}

.col-burger .burger {
    display: block;
    width: 30px
}

.lh13 {
    line-height: 1.3
}

.nwrp {
    white-space: nowrap
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex:before {
    display: none
}

.flex:after {
    display: none
}

.avatar-img {
    height: 11.79rem;
    background-size: cover !important
}

.tech-text__desc {
    color: #032562;
    font-size: 1.357rem;
    line-height: 1.3;
    margin-top: 3.929rem
}

.tech-orgs {
    border-top: 1px solid #d8e0e8;
    border-bottom: 1px solid #d8e0e8;
    padding: 2.714rem 0;
    font-size: .8571rem
}

.tech-orgs__logos {
    margin-top: 3.143rem
}

.doc-pad {
    margin-left: 4.643rem
}

.page-teaser {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/v-teaser.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1.8rem
}

.page-teaser .teaser-content__top {
    padding-top: 5.5rem
}

.page-teaser .teaser-content__date {
    font-size: 1.6rem
}

.page-teaser .teaser-content__title {
    font-size: 2.5rem;
    padding: 2.5rem 0;
    line-height: 2.814rem;
}

.page-teaser .teaser-content__button {
    padding-top: .414rem
}

.teaser-content .formats-download-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.teaser-content .formats-download-item > * {
    margin-right: 3rem;
    margin-bottom: 1rem
}

.col-v {
    padding: 1.357rem 0;
    color: #fff;
    min-height: 100%
}

.v-page .section-title {
    font-size: 2.2rem !important
}

.v-page section {
    padding-bottom: 2.557rem !important;
    padding-top: 4.2rem !important
}

.v-page .section-title__white {
    padding-bottom: 2.999rem !important
}

.v-page .brands-slider-arrws {
    margin-top: 10%
}

.row40top {
    margin-top: 2.7rem !important
}

.cb-text {
    line-height: 1.3
}

.img_check {
    display: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity .5s linear;
    transition: visibility 0s, opacity .5s linear
}

.img_check_show {
    display: block;
    visibility: visible;
    opacity: 1
}

.ex-card__lightBlueTheme .ex-card__h {
    color: #7de2f4
}

.ex-card__lightBlueTheme .active_a {
    color: #88d0e6 !important
}

.ex-card__lightBlueTheme .pick_S {
    background: #88d0e6
}

.ex-card__lightBlueTheme a:hover {
    color: #88d0e6
}

.ex-card__blueTheme .ex-card__h {
    color: #145ed4
}

.ex-card__blueTheme .active_a {
    color: #156ee6 !important
}

.ex-card__blueTheme a:hover {
    color: #156ee6 !important
}

.ex-card__info {
    font-size: 1.143rem;
    position: relative
}

.ex-card__info .col-12 {
    padding: 5px 0
}

.ex-card__info .col-12:first-child {
    color: #fff !important
}

.ex-card__info .br_top {
    border-top: 1px solid #3c4856
}

.ex-card__info .col-sm-6 {
    padding-left: 0
}

.ex-card__info .col-sm-4 {
    padding-left: 0
}

.ex-card__info .col-sm-8 {
    padding-left: 0
}

.ex-card__info ul {
    margin: 0;
    padding: 0;
    margin-left: 15px
}

.ex-card__info ul li {
    list-style: disc;
    margin-left: 15px
}

.pick_S {
    background: #156ee6;
    padding: .07143rem .6429rem;
    color: #fff;
    border-radius: 100%;
    font-family: AktivGroteskLight, sans-serif;
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 38px;
    text-align: center
}

.card-docs {
    position: absolute;
    bottom: 0
}

.cust_row {
    margin: 0 -30px
}

.v_darkBlue_block {
    position: absolute;
    left: 0;
    right: 0;
    top: 31rem;
    bottom: 0;
    background: #171a23;
    z-index: -1
}

.top-4 {
    margin-top: -3px;
    padding: 1.329rem 0
}

.formats_name {
    padding: 1.366rem 0
}

.reg-card {
    border-right: 1px solid #b2c1d2;
    padding-right: 4em
}

.reg-title {
    font-size: 1.714rem;
    color: #156ee6;
    border-bottom: 1px solid #b2c1d2;
    padding-bottom: 1.286rem;
    margin-bottom: 2.857rem
}

.step-item {
    display: block;
    color: #0b1421;
    margin-bottom: 2.714rem
}

.step-item .step-text {
    font-size: 1.286rem;
    line-height: 1.3;
    padding-left: 4.5rem
}

.step-item .step-icon {
    float: left;
    background-color: #171a23;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    width: 3.214rem;
    height: 3.214rem
}

.step-item .first-step {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/1step_icon.png)
}

.step-item .second-step {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/2step_icon.png)
}

.step-item .third-step {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/3step_icon.png)
}

.step-item:hover {
    color: #145ed4;
    text-decoration: none
}

.step-item:hover .step-icon {
    background-color: #145ed4
}

.float-left {
    float: left
}

.pl28 {
    padding-left: 28px
}

.reg-area {
    padding-left: 2em
}

.float-right {
    float: right
}

.form-line-border {
    border-bottom: 1px solid #b2c1d2
}

.form-custom .form-desc {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: .5rem
}

.form-custom .form-line label {
    font-size: 1.143rem
}

.mobile_menu {
    position: fixed;
    width: 14.29rem;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 30;
    padding: 1rem;
    display: none
}

.mobile_menu li {
    display: block;
    padding: 1rem 0 0
}

.mobile_menu .close-mobile-m {
    top: 10px;
    right: 2px
}

.mobile_menu .modal-video-close-btn:after {
    width: 64%
}

.mobile_menu .modal-video-close-btn:before {
    width: 64%
}

.order-button__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.order-button__cont .link-with-icon-block {
    margin-top: 0;
    margin-left: 2rem
}

.order-button__cont .link-with-icon-block .link-with-icon-label {
    color: #fff
}

.order-button__cont .link-with-icon-block:hover .svg-icon .cls-1 {
    fill: red
}

.order-button__cont .link-with-icon-block .link-with-icon-icon .svg-icon .cls-1 {
    fill: #156ee6
}

.present-and-button__cont {
    padding: 30px 0
}

.use-unique-opportunity__text {
    padding: 30px 0
}

.phone-header__cont .phone-header {
    float: right
}

.js-modal-video {
    cursor: pointer
}

@media only screen and (max-width: 1240px) {
    .brands-container {
        margin: 0 2.143rem;
        max-width: 100%
    }

    .form-line input[type=text] {
        max-width: 25.86rem !important
    }

    .form-line input[type=email] {
        max-width: 25.86rem !important
    }
}

@media only screen and (max-width: 1200px) {
    .formats-cards {
        margin-top: 3.571rem
    }

    .f_b_wrap {
        width: 100%
    }

    .item-list.three-cols-row .item-card {
        width: 47%;
        margin-bottom: 5%
    }

    .f_indicator {
        height: 46px
    }
}

@media only screen and (max-width: 1185px) {
    header a {
        font-size: .9rem !important
    }
}

@media only screen and (max-width: 1150px) {
    header a {
        font-size: .9rem
    }
}

@media only screen and (max-width: 1096px) {
    header .header-container {
        padding: .8571rem 5% 2rem
    }
}

@media only screen and (max-width: 1055px) {
    .col-7-header {
        display: none
    }

    .row-mobile {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .col-burger {
        display: block;
        padding-top: 1rem
    }

    .col-3-header {
        padding-left: 0;
        margin-left: 45px
    }
}

@media only screen and (max-width: 660px) {
    .formats-cards .formats-card {
        width: 100% !important
    }
}

@media only screen and (max-width: 810px) {
    .brands-slider-arrws {
        top: 0
    }

    .row-arrws {
        margin: 0
    }
}

@media only screen and (max-width: 846px) {
    .form-line input[type=text] {
        max-width: 100% !important
    }

    .form-line input[type=email] {
        max-width: 100% !important
    }

    .item-list.three-cols-row .item-card {
        width: 100%;
        margin-bottom: 5%
    }
}

@media only screen and (max-width: 765px) {
    .about-stats .col-12 {
        padding: 0
    }
}

@media only screen and (max-width: 789px) {
    .formats-cards .formats-card {
        width: auto
    }
}

@media only screen and (max-width: 494px) {
    .orgs {
        width: 100% !important;
        text-align: center;
        margin: 0
    }
}

@media only screen and (max-width: 992px) {
    .repl-content {
        padding-left: 0;
        padding-top: 1.786rem
    }

    .col-5-mobile {
        padding-left: 0
    }

    .person-name {
        padding-top: 1.429rem
    }

    .person-content {
        height: auto
    }

    .sd {
        text-align: center !important;
        margin: .7143rem 0
    }

    .mob_reg_bot {
        margin-bottom: 15px !important
    }

    .f_indicator {
        height: 40px
    }

    body .four-cols-row .item-card {
        width: 48%
    }

    body #albums-list {
        margin: 0 -.3rem !important
    }

    body #albums-list .item-card {
        margin: 0 .3rem
    }

    body .flexed-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    body .flexed-title .filter-buttons {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    body .flexed-title .filter-buttons a {
        margin: 0
    }
}

@media only screen and (max-width: 642px) {
    .stats-number {
        font-size: 1.929rem !important
    }

    .col-6-mobile {
        padding-left: 0
    }

    .about-stats .about-stats__content {
        max-height: 5.571rem;
        padding-left: 0
    }

    .about-stats .about-stats__content a {
        padding-top: 1.071rem
    }
}

@media only screen and (max-width: 585px) {
    .row-mobile {
        margin: 0 20px !important
    }

    .row {
        margin: 0 5px
    }

    .all-news-link {
        margin-left: 20px
    }

    .doc-icons {
        margin-right: .8571rem
    }

    .doc-text {
        padding-left: 0
    }

    .col-3-header {
        display: none
    }

    .col-burger {
        padding-top: 1.2rem
    }
}

@media only screen and (max-width: 1042px) {
    .doc-pad-m {
        margin-left: 1rem
    }
}

@media only screen and (max-width: 902px) {
    .doc-wrap-m {
        width: 100%;
        display: block
    }

    .doc-pad-m {
        margin-left: 0 !important
    }
}

@media only screen and (max-width: 768px) {
    .col-mob-pad {
        padding-bottom: 7rem;
        margin-bottom: 6rem
    }

    .vdbb_big {
        display: none
    }

    .vdbb_small {
        display: block;
        top: -12rem;
        bottom: -9rem
    }

    .vdbb_last {
        bottom: -27px
    }

    .ex-card__info {
        padding: 0 1rem
    }

    .card-docs {
        left: 2rem
    }
}

@media only screen and (max-width: 576px) {
    body #albums-list {
        margin: 0
    }

    body .four-cols-row .item-card {
        width: 100%
    }

    body #albums-list .item-card {
        margin: 0 0 2rem 0
    }

    .about-stats .about-stats__content a {
        margin-left: 0
    }

    .main-orgs-container .orgs, .orgs_1, .orgs_2, .orgs_3 {
        max-width: 100%;
        width: 100%;
        text-align: center
    }
}

@media only screen and (max-width: 522px) {
    .doc-pad {
        margin-left: 1.243rem
    }

    .justify-mobile {
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }

    .ex-card .ex-card__title .ex-card__vars a {
        margin: 0 .1143rem
    }

    .f_indicator {
        height: 37px
    }
}

@media only screen and (max-width: 458px) {
    .doc-mobile {
        width: 100% !important
    }

    .doc-pad {
        margin-left: 0
    }

    .col-mob-pad {
        padding-bottom: 9rem
    }

    .vdbb_small {
        bottom: -10rem
    }

    .ex-card .ex-card__title {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .teaser-content .teaser-content__button .bt.bt-info {
        margin-bottom: 2rem
    }
}

@media only screen and (max-width: 415px) {
    .phone-header__cont .m-wrap .m-icon {
        display: none
    }

    .flexed-title .filter-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (max-width: 388px) {
    .teaser-news {
        display: none
    }

    .teaser__content-container {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .teaser-content {
        margin-top: 7vh
    }
}

@media only screen and (max-width: 373px) {
    .phone-header__cont .m-wrap .m-icon {
        display: inline-block
    }

    .phone-header__cont .m-wrap .phone-number {
        display: none
    }
}

@media only screen and (max-width: 362px) {
    .doc-icons {
        display: block;
        margin: 0 auto
    }

    .doc-tech {
        width: 100%
    }

    .doc-tech:first-child {
        margin-bottom: 18px
    }

    .doc-text {
        display: block;
        margin: 0 auto;
        text-align: center
    }

    .page-teaser .teaser-content__title {
        text-align: center
    }

    .about-stats .about-stats__content {
        padding-left: 0;
        padding-bottom: 9px !important;
        max-height: 100%;
        text-align: center
    }

    .about-stats .about-stats__content a {
        padding-top: 10px
    }
}

@media only screen and (min-width: 1600px) {
    html {
        font-size: 18px
    }

    .f_indicator {
        height: 70px
    }
}

@media only screen and (min-width: 2000px) {
    html {
        font-size: 20px
    }

    .person-name {
        padding-top: 12rem
    }

    .f_indicator {
        height: 97px
    }
}

a:focus {
    text-decoration: none;
    outline: none
}

.lang_changer a.ru-lang {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/ru-icon-stroke.svg)
}

.lang_changer a.ru-lang.active_lang {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/ru-icon-active.svg)
}

.lang_changer a.ru-lang:hover {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/ru-icon-active.svg)
}

.lang_changer a.en-lang {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/en-icon-stroke.svg)
}

.lang_changer a.en-lang.active_lang {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/en-icon-active.svg)
}

.lang_changer a.en-lang:hover {
    background-image: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/en-icon-active.svg)
}

.doc-wrap:hover {
    text-decoration: none !important
}

.doc-wrap:hover .pdf-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/p-hover.svg) no-repeat
}

.doc-wrap:hover .pdf-icon-reverse {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/p-hover-w.svg) no-repeat
}

.doc-wrap:hover .badge-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/badge-icon-hover.svg) no-repeat
}

.doc-wrap:hover .manager-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/manager-hover.svg) no-repeat;
    background-size: cover
}

.doc-wrap:hover .otherDoc-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/o-hover.svg) no-repeat
}

.doc-wrap:hover .int-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/v-hover.svg) no-repeat
}

.doc-wrap:hover .photo-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/photo-camera-icon-w.svg)
}

.pdf-icon-hovered .pdf-icon {
    background: url(/local/templates/oilgasforum_2020/css/sass/../../images/2019-images/p-hover.svg) no-repeat
}

.hover_1:hover {
    color: #fff
}

.person-img-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

body .container-fluid {
    padding-right: 12.5%;
    padding-left: 12.5%
}

.modal-content .icon-pdf {
    float: left;
    margin-right: 1rem
}

@media (min-width: 992px) {
    .site-header {
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0
    }
}

.modal-dialog_size {
    margin: 5vh auto;
    max-width: 90vw
}

@media (min-width: 576px) {
    .modal-dialog_size {
        max-width: 70vw
    }
}

.modal-content__speaker {
    border-radius: 0
}

@media (min-width: 576px) {
    .modal-content__speaker {
        padding: 0 1.443rem
    }
}

.speaker-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.speaker-photo {
    -ms-flex-preferred-size: 11.43rem;
    flex-basis: 11.43rem;
    width: 50%
}

.speaker-photo__img {
    width: 100%;
    height: auto
}

@media (min-width: 576px) {
    .modal-content__header-and-subheader {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

.speaker-name {
    margin-top: 1.2rem
}

@media (min-width: 576px) {
    .speaker-name {
        margin-left: 2.2rem
    }
}

@media (min-width: 768px) {
    .speaker-name {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

.speaker-name__title {
    color: #345db9;
    font-size: 1.05rem
}

@media (min-width: 768px) {
    .speaker-name__title {
        font-size: 1.7rem
    }
}

.speaker-name__subtitle {
    color: #3451ab;
    font-size: .7rem;
    line-height: .78rem;
    max-width: 25rem;
    margin-top: .4rem
}

@media (min-width: 768px) {
    .speaker-name__subtitle {
        max-width: 30rem;
        font-size: .86rem;
        line-height: 1.1rem
    }
}

.speaker-description {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    color: #1d1d1b;
    font-size: .7rem;
    line-height: .78rem;
    margin-top: 1.1rem
}

@media (min-width: 768px) {
    .speaker-description {
        font-size: .86rem;
        line-height: 1.1rem;
        margin-top: 1.9rem
    }
}

.close_modal-speaker {
    position: absolute;
    right: 0;
    top: 0;
    width: 2.143rem;
    height: 2.143rem;
    opacity: .3;
    background: transparent;
    border: none
}

@media (min-width: 576px) {
    .close_modal-speaker {
        top: 0
    }
}

.close_modal-speaker:hover {
    opacity: .8
}

.close_modal-speaker:before {
    position: absolute;
    left: 15px;
    top: 0;
    content: "";
    height: 33px;
    width: 1px;
    background-color: #1d1d1b
}

.close_modal-speaker:after {
    position: absolute;
    left: 15px;
    top: 0;
    content: "";
    height: 33px;
    width: 1px;
    background-color: #1d1d1b
}

.close_modal-speaker:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close_modal-speaker:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.bt-light-blue {
    background: #7de2f4;
    color: #222633 !important
}

.ligth-sub-title {
    color: #156ee6;
    font-weight: 300;
    font-size: 1.72rem;
    line-height: 2.15rem
}

@media (min-width: 768px) {
    .ligth-sub-title {
        color: #032562;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.815rem
    }
}

.padding-horizontal {
    padding: 0 6%
}

.four-cols-row .scroll-slider__item {
    margin-right: 2rem;
    min-width: 15rem !important
}

.four-cols-row .scroll-slider__item_wide {
    min-width: 20%
}

.four-cols-row .scroll-slider__item_white {
    background-color: #fff
}

.four-cols-row .item-card {
    width: 24%
}

.item-list .item-card .item-content .item-title {
    min-height: 0
}

.item-list .item-card .item-content .item-title_small {
    font-size: 1rem
}

.item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.item-footer .item-footer > * {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}

.section-content {
    padding: 0
}

#albums-list .item-card {
    margin: 0 .4rem .4rem 0
}

.scroll-slider {
    padding-bottom: .5rem;
    padding-top: 1rem
}

.parallax-window {
    background: transparent
}

.b-icon {
    width: 2.33rem;
    height: 2.33rem;
    overflow: hidden;
    vertical-align: middle;
    fill: #fff;
    color: #000
}

.b-icon_size_lg {
    width: 2.5rem;
    height: 2.5rem
}

.b-icon_above-dark-bg {
    color: #156ee6
}

.b-button {
    display: block;
    padding: 1.188rem 2.5rem 1.313rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1
}

@media (min-width: 576px) {
    .b-button {
        padding: 1.188rem 3.5rem 1.313rem
    }
}

.b-button:hover {
    text-decoration: none;
    color: inherit;
    background-color: #4b566d
}

.b-button:focus {
    color: inherit
}

.b-button_light {
    color: #fff
}

.b-button_bordered_light {
    border: 1px solid #4b566d
}

.b-button_bg_light {
    background-color: #7de2f4
}

.b-button_gray {
    color: #222633
}

.b-button_font_size_md {
    font-size: 1.142rem
}

.formats-mobile {
    color: #fff
}

.formats-mobile__block {
    border-top: 1px solid #afafaf
}

.formats-mobile__block_strong {
    border-top: 4px solid #4dbaf8
}

.formats-mobile__block-label {
    color: #4b566d;
    margin-top: 1rem
}

.formats-mobile__block-label_strong {
    color: #fff
}

.formats-mobile__block-label_weak {
    font-size: .75rem
}

.formats-mobile__row-space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.formats-mobile__selector {
    font-size: 1.5rem;
    color: #4b566d
}

.formats-mobile__selector:hover {
    text-decoration: none;
    color: #156ee6
}

.formats-mobile__selector:focus {
    color: #4b566d
}

.formats-mobile__selector_active {
    color: #4dbaf8
}

.formats-mobile__selector_active:focus {
    color: #4dbaf8
}

.formats-mobile li {
    color: #fff;
    padding-left: .3rem
}

.formats-mobile__list-item {
    color: #4b566d
}

.formats-mobile__list-item_active {
    color: #fff
}

.formats-mobile__format-content {
    margin: 2.25rem 0
}

.formats-mobile__format-content_small-margin {
    margin-top: 1.25rem
}

.formats-mobile__price {
    font-size: 1.5rem
}

.icon-with-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.icon-with-label__icon {
    margin-right: .8571rem;
    color: #156ee6
}

.icon-with-label__icon_color_gray {
    color: #404041
}

.icon-with-label__label {
    font-size: .93rem;
    line-height: 1.3;
    color: #404041
}

.icon-with-label__label_color_white {
    color: #fff
}

.icon-with-label:hover {
    text-decoration: none
}

.icon-with-label:hover .icon-with-label__icon {
    color: #404041
}

.icon-with-label:hover .icon-with-label__icon_color_gray {
    color: #156ee6
}

.icon-with-label:hover .icon-with-label__icon_color_gray_above-dark-bg {
    color: #171a23
}

.section__title_color_malibu {
    color: #7ce1f4
}

.section_background_black {
    background-color: #000
}

.item-card {
    border-radius: 0 0 .25rem .25rem;
    overflow: hidden
}

.title-light-blue {
    color: #156ee6;
    font-size: 1.714rem;
    font-family: AktivGroteskLight;
    letter-spacing: .0142rem
}

.icon-with-label-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.icon-with-label-row__icon-with-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #afafaf;
    padding: 1rem;
    width: 100%
}

.icon-with-label-row__icon-with-label:last-child {
    border-bottom: 1px solid #afafaf
}

@media (min-width: 576px) {
    .icon-with-label-row__icon-with-label {
        border-bottom: 1px solid #afafaf;
        width: 47%
    }
}

.order-step__left-col-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%
}

.form label.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0 .2rem;
    border-radius: .1rem;
    font-size: .8rem;
    position: relative;
    top: -0.5rem
}

.countdown-timer {
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.countdown-timer__timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.countdown-timer__time-piece {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.countdown-timer__digit {
    color: #7ce1f4;
    font-size: 2.25rem
}

.countdown-timer__digit-label {
    font-size: .75rem
}

.countdown-timer__colon {
    font-size: 2.25rem;
    color: #7ce1f4;
    margin: 0 .75rem
}

.countdown-timer_size_big__label {
    font-size: .86rem
}

.countdown-timer_size_big__digit {
    font-size: 2.125rem
}

.countdown-timer_size_big__digit-label {
    font-size: .625rem
}

.countdown-timer_size_big__colon {
    font-size: 2.125rem
}

@media (min-width: 576px) {
    .countdown-timer_size_big {
        font-size: 1.72rem
    }

    .countdown-timer_size_big__digit {
        font-size: 4.25rem
    }

    .countdown-timer_size_big__digit-label {
        font-size: 1.25rem
    }

    .countdown-timer_size_big__colon {
        font-size: 4.25rem
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0
}

.video-responsive__iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

.video-responsive__plug {
    opacity: 100;
    z-index: 10;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.suggestions-wrapper {
    z-index: 1
}

.suggestions-wrapper .suggestions-value {
    color: #404041
}

.suggestions-wrapper .suggestions-hint {
    opacity: 100;
    display: none;
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0 .2rem;
    border-radius: .1rem;
    font-size: .8rem;
    position: relative;
    top: -0.5rem;
    font-weight: bold;
    z-index: 1
}

.speaker-slider__show-about-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    display: none
}

@media (min-width: 768px) {
    .speaker-slider__show-about-link {
        display: block
    }
}

.speaker-slider__mobile-about {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    color: #404041;
    opacity: 0;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    background-color: rgba(220, 240, 255, 0.75);
    padding: 6% 9%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    cursor: pointer
}

.speaker-slider__mobile-about_shown {
    opacity: 100
}

@media (min-width: 768px) {
    .speaker-slider__mobile-about {
        display: none
    }
}

.speaker-slider__mobile-about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.speaker-slider__mobile-about-icon {
    position: absolute;
    bottom: 6%;
    right: 9%;
    width: 1rem;
    height: 1rem;
    margin-bottom: .25rem
}

.speaker-slider__desktop-speaker-about {
    display: none
}

@media (min-width: 768px) {
    .speaker-slider__desktop-speaker-about {
        display: block
    }
}

.speaker-slider__desktop-show-about-link {
    display: none
}

@media (min-width: 768px) {
    .speaker-slider__desktop-show-about-link {
        display: block
    }
}

.speaker-slider__desktop-play-video-link {
    display: none !important;
    top: .5rem !important;
    right: .5rem !important
}

@media (min-width: 768px) {
    .speaker-slider__desktop-play-video-link {
        display: block !important
    }
}

.input-select {
    position: relative
}

.input-select__anchor {
    color: #495057;
    text-decoration: none;
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 55px 0 15px;
    background-color: #dcf0ff;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.input-select__anchor::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #156ee6;
    background-image: url(/local/templates/oilgasforum_2019.01/images/2019-images/arr-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33%
}

.input-select__anchor::after:hover {
    background-color: #0056b3
}

.input-select__anchor:hover {
    color: #495057;
    text-decoration: none
}

.input-select__drop {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    width: 100%;
    background-color: #3d7dcc;
    display: none;
    position: absolute;
    z-index: 3;
    max-height: 300px;
    overflow-y: scroll
}

.input-select__option {
    list-style: none;
    cursor: pointer;
    display: block;
    color: #fff;
    padding: .3rem .5rem;
    font-size: .875rem
}

.input-select__option:first-child {
    padding-top: 9px
}

.input-select__option:last-child {
    padding-bottom: 9px
}

.input-select__option:hover {
    background-color: #0056b3;
    color: #fff
}

.input-select__option_sect-title {
    padding: 4px 5px;
    background-color: #0056b3;
    cursor: default
}

.section-title {
    margin-bottom: 1rem;
    font-family: AktivGroteskLight
}

.b-news-list__row {
    margin-bottom: 3rem
}

.b-news-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2rem
}

@media (min-width: 768px) {
    .b-news-list__item {
        margin-top: 0
    }
}

.b-news-list__item-date {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 1rem;
    font-family: AktivGroteskLight, sans-serif
}

.b-news-list__item-card {
    -webkit-box-flex: 100;
    -ms-flex: 100;
    flex: 100;
    background-color: #fff;
    padding: 1.75rem 1.75rem 3.5rem 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.b-news-list__item-title {
    color: #165ac7;
    margin-bottom: 3rem
}

.b-news-list__item-description {
    margin-bottom: 3rem
}

.b-news-list__item-link {
    text-decoration: underline;
    color: #165ac7;
    bottom: 1.75rem;
    position: absolute;
}

/*# sourceMappingURL=main.css.map */
/* End */
