@font-face {
    font-family: "AktivGroteskLight";
    src: url("../fonts/AktivGrotesk-Light.woff") format("woff"),
    url("../fonts/AktivGrotesk-Light.ttf") format("ttf");
}

@font-face {
    font-family: "AktivGroteskMedium";
    src: url("../fonts/AktivGrotesk-Medium.woff") format("woff"),
    url("../fonts/AktivGrotesk-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "AktivGroteskRegular";
    src: url("../fonts/AktivGrotesk-Regular.woff") format("woff"),
    url("../fonts/AktivGrotesk-Regular.ttf") format("ttf");
}

body {
    font-family: "AktivGroteskLight", sans-serif;
}

.site-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

header .header-container {
    z-index: 999;
}

.table-mob {
    display: none;
}

.table-header-mob {
    display: none;
}

.table {
    width: 100% !important;
    display: table;
}

.table-row-gr {
    display: table-row-group;
}

.table-row {
    width: 100% !important;
    display: table-row;
    background: #fff;
}

.table-row.table-header {
    color: #ffffff;
    background: #156EE6;
    font-size: 20px;
}

.table-row.table-header .table-cell {
    border-left: 0;
}

.table-cell {
    display: table-cell;
    padding: 0 15px;
}

.table-cell .arrow-btn {
    width: 14px;
    height: 10px;
    text-align: right;
    float: right;
}

.table-cell:nth-child(1) {
    padding-left: 15px;
    width: 36%;
}

.table-cell:not(:nth-child(1)) {
    text-align: center;
    vertical-align: middle;
    width: 16%;
}

.table-cell button {
    border-radius: 0.5px;
    border: 0;
    color: #fff;
    height: 40px;
    width: 100%;
    padding: 0 30px;
    font-size: 0.9rem;
}

button.registration1 {
    background: #00BBF5;
}

button.registration2 {
    background: #00A2FF;
}

button.registration3 {
    background: #0254C1;
}

button.registration4 {
    background: #002667;
}

.table {
    border-collapse: collapse;
}

.table-row .table-cell,
.table-row-gr .table-cell {
    font-family: AktivGroteskRegular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: unset !important;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 0.5px solid rgba(182, 182, 182, 0.6);
}

.table-row .table-cell:nth-child(1) {
    border-left: 0;
}

.table-row.table-header .table-cell {
    font-size: 1rem;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;

    padding-top: 19px;
    padding-bottom: 19px;
}

.table-noborder .table-cell {
    border-left: 0;
}

.table-part-row {
    display: none;
}

.table-part-row.show-tb {
    display: table-row-group;
}

.table-btn {
    position: relative;
    cursor: pointer;
    display: table-row-group;
    background: #FBFBFB;
    border-bottom: solid white 20px;
}

.table-btn .table-cell {
    border-left: 0;
}

.table-cell.check img {
    width: 16px;
    height: 16px;
}

.arrow-down {
    position: absolute;
    content: '';
    top: 20px;
    right: 20px;
    width: 10px;
    height: 10px;
    background: url('../img/arrow-grey.svg') center/cover no-repeat;
}

.table-part-row.show {
    width: 500px;
    height: 0;
    max-height: 9999px;
    overflow: hidden;
    background: #BBBBBB;
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -ms-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}

.more-btn {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: #156EE6;
}

.more-btn:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -15px;
    background: url('../img/arrow-blue.svg') center/cover no-repeat;
    width: 4px;
    height: 7px;
}

.more-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.site-header-placeholder {
    height: 88px !important;
}

.teaser {
    height: calc(100vh - 92px)
}

.ask {
    background: #002667;
    padding-top: 20px;
    padding-bottom: 45px;
}

.ask h3 {
    color: #ffffff;
    width: 550px;
}

.ask form {
    margin-top: 30px;
    width: 100%;
    display: flex;
}

.ask input[type="text"],
.ask input[type="submit"] {
    height: 40px;
    width: 31.5%;
    margin-right: 2%;
    padding-left: 10px;
}

.ask input[type="submit"] {
    border: 0;
    outline: 0;
    background: #156EE6;
    color: #ffffff;
    margin-right: 0;
}

.sessions {
    padding: 0 0 5rem;
}

.sessions h3 {
    font-size: 32px;
}

.session-block {
    margin-top: 20px;
    width: 100%;
    box-shadow: 0px 20px 30px rgba(182, 182, 182, 0.2);
    border-radius: 0.5px;
}

.session-block .session-top {
    width: 100%;
    height: 13vw;
}

.session-block .session-top img {
    width: 100%;
}

.session-block .session-bottom {
    width: 100%;
    height: 180px;
    box-sizing: border-box;
    padding: 28px 14px;
}

.session-bottom .session-date {
    color: #156EE6;
    font-size: 14px;
}

.session-bottom .session-desc {
    color: #212529;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 15px 0;
}

.session-bottom .session-watch {
    color: #156EE6;
    font-size: 14px;
}

.faq h3 {
    font-size: 32px;
}

.faq-questions {
    margin-top: 15px;
}

.faq-question {
    position: relative;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
    padding: 1.313rem 2rem 1.385rem 0;
    border-bottom: 1px solid rgba(182, 182, 182, 0.6);
    margin-bottom: 0;
    background: transparent;
}

.faq-question:after {
    position: absolute;
    content: '';
    right: 0;
    top: 25px;
    width: 10px;
    height: 10px;
    background: url('../img/arrow-grey.svg') center/contain no-repeat;
    transform: rotate(-90deg);
}

.faq-question.active:after {
    background: url('../img/arrow-blue2.svg') center/contain no-repeat;
    width: 14px;
    height: 11px;
    transform: none;
}

.faq-question:hover, .faq-question.active {
    color: #156EE6;
    border-bottom: 1px solid #156EE6;
    cursor: pointer;
    background: transparent;
}

.faq-question i {
    color: rgba(182, 182, 182, 0.6);
}

.faq-question:hover i {
    color: #156EE6;
}

.faq-question.active i {
    color: #156EE6;
    transform: rotate(270deg);
}

.faq-answer {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
    padding: 0 1rem 2rem;
}

.faq-answer {
    display: none;
}

.faq-answer1 {
    display: block;
}

.faq-answer-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.faq-answer-images img {
    margin: 0 5px;
    width: 25%;
}

.faq-answer-images img:nth-child(1) {
    margin-left: 0;
}

.points-section .desc-content {
    position: relative;
}

.no-answer {
    position: absolute;
    bottom: 0;
    padding: 0 1rem 2rem;
}

.about-section {
    padding: 4rem 0;
}

.about-text p {
    line-height: 1.43rem;
}

.about-img img {
    float: right;
    max-width: 100%;
    max-height: 350px;
}

.advantages {
    padding: 3rem 0 2rem;
}

.advantages h3 {
    margin-bottom: 0;
}

.advantages-blocks {
    padding: 0 15px;
}

.advantages-block {
    padding: 35px 0;
}

.advantages-block.blue {
    border-bottom: 1px solid #156EE6;
}

.advantages-desc {
    margin-bottom: 0;
}

.advantages-title {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    color: #156EE6;
    padding-left: 32px;
}

.advantages-title:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
}

.advantages-title.at1:before {
    background: url('../img/adv-icon1.svg') center/cover no-repeat;
}

.advantages-title.at2:before {
    background: url('../img/adv-icon2.svg') center/cover no-repeat;
}

.advantages-title.at3:before {
    background: url('../img/adv-icon3.svg') center/cover no-repeat;
}

.advantages-title.at4:before {
    background: url('../img/adv-icon4.svg') center/cover no-repeat;
}

.advantages-title.at5:before {
    background: url('../img/adv-icon5.svg') center/cover no-repeat;
}

.advantages-title.at6:before {
    background: url('../img/adv-icon6.svg') center/cover no-repeat;
}

.advantages-online {
    background: #DCEFFE;
    padding: 1.5rem 0 4rem;
}

.advantages-online .advantages-title:before {
    position: absolute;
    font-size: 26px;
    left: 0;
    top: -1px;
    background: none;
}

.advantages-online .advantages-title.one:before {
    content: '1';
}

.advantages-online .advantages-title.two:before {
    content: '2';
}

.advantages-online .advantages-title.three:before {
    content: '3';
}

.advantages-online h3 {
    margin-bottom: 30px;
}

.advantages-online-block {
    padding: 20px 0;
    border-top: 1px solid #156EE6;
    border-bottom: 1px solid #156EE6;
    min-height: 12rem;
}

.adv-btn a {
    height: 40px;
    width: 85%;
    margin-top: 14px;
    padding-top: 11px;
}

.packages {
    padding: 5rem 0 3rem;
}

.packages h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.bt-info {
    background: #156ee6
}

.bt-info:hover {
    color: #fff;
    text-decoration: none
}

.teaser__content-container {
    min-height: calc(100vh - 92px);
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.teaser-news {
    padding: 0 1.071rem;
    padding-bottom: 1.786rem;
    width: 100%
}

.teaser-item {
    display: block;
    border-top: 1px solid #8e8e8e;
    border-bottom: 1px solid #8e8e8e;
    padding: .5rem 0
}

.teaser-item:hover {
    text-decoration: none
}

.teaser-content {
    margin: auto 0;
    padding: 0;
    width: 500px;
}

.teaser-content-buttons {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teaser-content__button {
    width: 47%;
    padding-top: 1.714rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.teaser-content__button a, .tech-days-first-screen-text a {
    background: #0254C1;
    min-width: 100%;
    text-align: center;
    border-radius: 0.5px;
    height: 2.857rem;
    padding: 0;
    line-height: 2.857rem;
}

.btn-transparent a {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #0254C1;
}

h3 {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 15px;
}

.partners-slider-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.section-title__black {
    font-size: 2rem;
    line-height: 2.5rem;
}

.slider_slick_filter li a {
    font-size: 1rem;
}

.brand-img img {
    max-width: 17rem;
    max-height: 17rem;
}

.new-brands-slider-arrws {
    right: 12.6%;
}

.header-buttons .button-forum {
    width: 11rem;
}

.header-buttons .button-singup {
    width: 11rem;
    margin-left: 1.2rem;
}

.phone-header__cont span, .phone-header__cont a {
    padding-left: 1.5rem;
}

.phone-header__cont img {
    margin-top: -3px;
    margin-right: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
}

.phone-header__cont span svg, .phone-header__cont a svg {
    margin-right: 0.2rem;
}

.slider_slick_filter li {
    padding: 1rem 1.5rem;
}

.navigation {
    width: 100%;
    height: 50px;
    background: #161F2B;
    padding: 0;
}

.navigation a {
    line-height: 50px;
    color: #ffffff;
    padding-right: 20px;
}

.navigation a:hover {
    color: #cccccc;
}

.speaker-modal-all {
    position: relative;
    color: #B6B6B6;
}

.speaker-modal-all:after {
    position: absolute;
    content: '';
    top: 3px;
    right: -17px;
    width: 8px;
    height: 10px;
    background: url('../img/arrow-grey.svg') center/contain no-repeat;
    transform: rotate(-90deg);
}
.lang {
    font-size: 1rem;
    color: #B6B6B6;
    margin-left: 30px;
}

/* About page */

.doc-text img {
    margin-right: 12px;
    vertical-align: -2px;
}

.about-stats {
    margin-top: 30px;
}

.about-text .blue-text {
    border-left: 1.5px solid #1E88E5;
    color: #1E88E5;
    padding-left: 15px;
}

.about-advantages {
    padding: 3rem 0 2rem;
}

.about-advantages-block {
    padding: 35px 0;
}

.about-advantages-title {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    color: #156EE6;
    padding-left: 32px;
    padding-bottom: 15px;
    margin-bottom: 18px;
    border-bottom: 1px solid #1E88E5;
}

.about-advantages-title:before {
    position: absolute;
    font-size: 26px;
    left: 0;
    top: -1px;
    background: none;
}

.about-advantages-title.at1:before {
    content: '1';
}

.about-advantages-title.at2:before {
    content: '2';
}

.about-advantages-title.at3:before {
    content: '3';
}

.about-page section#about {
    padding-bottom: 4.5rem;
}

.culture-program {
    margin-top: 2.786rem;
}

.culture-program .img-wrap.img_h.img_wrap_back {
    height: 30rem !important;
    margin-top: 15px;
}

.culture-program-point {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
}

.culture-program-title {
    font-size: 1.2rem;
}

.culture-program-subtitle {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.culture-program-point img {
    margin-right: 18px;
    width: 120px;
}

.news-about-bottom {
    position: relative;
}

.news-about-bottom:before {
    position: absolute;
    content: '';
    top: 6px;
    right: -18px;
    width: 9px;
    height: 10px;
    background: url(../img/arrow-grey.svg) center/contain no-repeat;
    transform: rotate(-90deg);
}

.spiker-about:hover {
    cursor: pointer;
}

.spiker-about:hover .news-about-bottom:before {
    background: url(../img/arrow-blue.svg) center/contain no-repeat;
    transform: rotate(0);
}

.help-section {
    background: #FBFBFB;
}

.help-contacts {
    margin-top: 25px;
}

.help-contact-block {
    width: 65%;
}

.help-title {
    font-size: 1.3rem;
    color: #156EE6;
    padding-bottom: 20px;
    border-bottom: 1px solid #156EE6;
}

.help-name {
    font-size: 1.1rem;
}

.help-desc {
    font-size: 0.9rem;
    margin-bottom: 7px;
    min-height: 35px;
}

.help-contact {
    position: relative;
    font-size: 1.1rem;
    padding-left: 28px;
    margin-bottom: 20px;
}

.help-contact.phone {
    margin-top: 14px;
    padding-bottom: 24px;
    border-bottom: 1px solid #156EE6;
}

.help-contact:before {
    position: absolute;
    content: '';
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
}

.help-contact.email:before {
    background: url(../img/email.svg) center/cover no-repeat;
}

.help-contact.phone:before {
    background: url(../img/phone.svg) center/cover no-repeat;
}

.archive-section h3 {
    margin-bottom: 32px;
}

.archive-blocks {
    width: 100%;
}

.archive-block {
    position: relative;
    float: left;
    width: 50%;
    line-height: 40px;
    padding-left: 52px;
    margin-bottom: 30px;
}

.archive-block:nth-child(5),
.archive-block:nth-child(6) {
    margin-bottom: 0;
}

.archive-block:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.archive-block.ab1:before {
    background-image: url(../img/archive1.svg);
}

.archive-block.ab2:before {
    background-image: url(../img/archive2.svg);
}

.archive-block.ab3:before {
    background-image: url(../img/archive3.svg);
}

.archive-block.ab4:before {
    background-image: url(../img/archive4.svg);
}

.archive-block.ab5:before {
    background-image: url(../img/archive5.svg);
}

.archive-block.ab6:before {
    background-image: url(../img/archive6.svg);
}

.archive-title {
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 0;
}

/* Contacts page */

.contacts-section {
    margin-top: 2.8rem;
    padding-bottom: 2rem;
}

.contacts-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7rem;
}

.contact-block {
    width: 22.6%;
    background: #FBFBFB;
    margin-right: 3.2%;
}

.contact-block:nth-child(-n+4) {
    margin-bottom: 3rem;
}

.contact-block:nth-child(4n) {
    margin-right: 0;
}

.contact-block img {
    width: 100%;
    object-fit: contain;
}

.contact-info {
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.contact-name {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.contact-desc {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin-bottom: 16px;
    min-height: 45px;
}

.contact-num {
    position: relative;
    font-size: 1rem;
    padding-left: 28px;
}

.contact-num a {
    color: #333;
}

.contact-num.phone {
    margin-bottom: 6px;
}

.contact-num:before {
    position: absolute;
    content: '';
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px;
}

.contact-num.email:before {
    background: url(../img/email.svg) center/cover no-repeat;
}

.contact-num.phone:before {
    background: url(../img/phone.svg) center/cover no-repeat;
}

.request-section form input {
    width: 100%;
    border: 1px solid #156EE6;
    box-sizing: border-box;
    padding: 10px 18px;
}

.request-section form input[type="submit"] {
    background: #156EE6;
    color: #FFFFFF;
}

.request-section form input[type="submit"]:hover {
    background: #0254C1;
}

#map {
    height: 300px;
    width: 100%;
}

.coordinates-section {
    padding: 2rem 0 0;
}

.coordinates-section .address {
    padding: 0 0 2rem;
}

.coordinates-section .address-link {
    color: #156EE6;
    border-bottom: 1px dashed #156EE6;
    margin-left: 5px;
    padding-bottom: 4px;
}

.points-section {
    padding-bottom: 6rem;
}

.points-section .all-partners {
    margin-top: 2.5rem;
    position: relative;
    bottom: 0;
}

/* Search page */
.search-page {
    display: none;
    background: #0A1320;
    width: 100vw;
    height: 100vh;
}

.search-page h3 {
    color: #FBFBFB;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
}

.search-page .search-input,
.search-page-full .search-input {
    position: relative;
    width: 85%;
    float: left;
}

.search-page input,
.search-page-full input {
    height: 40px;
    background: transparent;
    border-right: 0;
}

.search-page input {
    border: 1px solid #FBFBFB;
    color: #FFFFFF;
}

.search-page-full input {
    border: 1px solid #B6B6B6;
    color: #212529;
}

.search-page input[type="text"],
.search-page-full input[type="text"] {
    width: 100%;
    padding: 0 40px;
}

.search-page .search-input:before,
.search-page-full .search-input:before {
    position: absolute;
    content: '';
    top: 11px;
    left: 13px;
    width: 17px;
    height: 17px;
}

.search-page .search-input:before {
    background: url(../img/ei_search-white.svg) center/cover no-repeat;
}

.search-page-full .search-input:before {
    background: url(../img/search-grey.svg) center/cover no-repeat;
}

.search-page input[type="text"]::placeholder {
    color: #ffffff;
}

.search-page-full input[type="text"]::placeholder {
    color: #B6B6B6;
}

.search-page input[type="submit"],
.search-page-full input[type="submit"] {
    width: 15%;
    float: right;
    background: #156EE6;
    border: 1px solid #156EE6;
    color: #ffffff;
}

.search-page input[type="submit"]:hover,
.search-page-full input[type="submit"]:hover {
    background: #0254C1;
    border: 1px solid #0254C1;
}

.search-page .search-results {
    margin-top: 2.2rem;
    color: #FBFBFB;
    font-size: 1.2rem;
    height: 40vh;
}

.search-page .search-result {
    margin-bottom: 1rem;
}

.search-page-full {
    padding-top: 3rem;
}

.search-page-full .search-full-results {
    margin-top: 2rem;
}

.search-page-full .search-full-results .results-amount {
    font-size: 1.2rem;
}

.search-page-full .search-full-results .results-sort {
    margin-top: 1.1rem;
}

.search-page-full .search-full-results .sorted:hover {
    cursor: pointer;
    text-decoration: underline;
}

.search-page-full .search-full-results .sorted.active {
    color: #156EE6;
    text-decoration: none;
    cursor: default;
}

.search-page-full .search-full-result {
    margin-top: 2.3rem;
}

.search-page-full .search-full-result .search-name {
    font-size: 1.2rem;
    color: #156EE6;
}

.search-page-full .search-full-result .search-desc {
    margin-top: 0.6rem;
}

/* News page */

.news-page section#about {
    padding: 3.5rem 0;
}

.news-page .news-subtitle {
    font-size: 1.4rem;
    margin-bottom: 2.2rem;
}

.news-page h3 {
    margin-bottom: 0.6rem;
}

.news-page .slider_slick_filter {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 119px;
    background: #FFFFFF;
    z-index: 1;
    padding: 0 12.5%;
}

.news-page .slider_slick_filter li {
    padding: 0.5rem 1.5rem;
}

.news-page .slider_slick_filter li:first-child {
    padding-left: 0;
}

.news-page .speakers_slider_slick .slick-slide, .vystavka-slider-nav .slick-slide, .news-slider .slick-slide {
    padding: 0 0.92rem 2rem;
}

.news-page .speakers_slider_slick, .vystavka-slider-nav, .news-slider {
    margin: 0 -15px;
}

.news-page .spiker-about {
    min-height: 14.6rem;
}

.news-img {
    height: 13.143rem;
}

.news-block-img {
    height: unset;
}

.news-block-img img {
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
    object-position: top;
}

.news-page .about-text p {
    font-size: 0.95rem;
    line-height: 1.3rem;
}

.news-page .text_h .all-partners {
    margin-top: 1.2rem;
    position: relative;
    bottom: 0;
}

.news-page .text_h .all-partners .speaker-modal-all {
    font-size: 0.9rem;
}

.news-page .partners-slider {
    margin-top: 5rem;
}

.news-page .new-brands-slider-arrws.whith-filter {
    top: -2.8rem;
}

.news-page .request-section {
    padding-bottom: 6rem;
}

.news-single-date {
    font-size: 1.2rem;
    color: #B6B6B6;
    margin: 1.4rem 0;
}

.news-single-text {
    font-size: 1rem;
    line-height: 1.6rem;
}

.gallery-slider {
    position: relative;
    margin: 30px 0 45px;
}

.gallery-slider-arrws {
    position: absolute;
    right: -45px;
    top: calc(50% - 20px);
    z-index: 99;
}

.read-more {
    width: 85%;
    float: right;
    padding-top: 20px;
}

.read-more-title {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.read-more-block {
    border-top: 0.5px solid rgba(182, 182, 182, 0.8);
    padding: 20px 0;
    cursor: pointer;
}

.read-more-text {
    line-height: 1.6rem;
}

.read-more-block:hover .read-more-text {
    text-decoration: underline;
}

.read-more-date {
    color: #B6B6B6;
    margin-bottom: 0;
}

.go-back, .go-next {
    margin: 10px 0 16px;
    width: 23%;
}

.go-back a {
    position: relative;
    color: #B6B6B6;
    padding-left: 25px;
}

.go-next a {
    position: relative;
    color: #B6B6B6;
    padding-right: 25px;
    float: right;
}

.go-back a:before {
    position: absolute;
    content: '';
    top: 6px;
    left: 0;
    background: url('../img/arrow-grey.svg') center/cover no-repeat;
    width: 8px;
    height: 5px;
    transform: rotate(90deg);
}

.go-next a:before {
    position: absolute;
    content: '';
    top: 7px;
    right: 0;
    background: url('../img/arrow-grey.svg') center/cover no-repeat;
    width: 8px;
    height: 5px;
    transform: rotate(-90deg);
}
.news-social {
    margin: 20px 0 40px;
    width: 100%;
    padding: 15px 0;
    display: inline-block;
    border-top: 0.5px solid rgba(182, 182, 182, 0.8);
    border-bottom: 0.5px solid rgba(182, 182, 182, 0.8);
}
.news-social a {
    padding: 0 0.5rem;
    margin-right: 10px;
}
.news-social a svg {
    fill: #B6B6B6;
    width: 1.286rem;
    height: 1.286rem;
}
.news-social a:hover svg {
    fill: #156EE6;
}
.news-social span {
    margin-right: 40px;
}
.slick-dots li button {
    width: 0.939rem;
    height: 0.939rem;
    padding: 0;
}
.slick-dots li button:before {
    width: 0.429rem;
    height: 0.429rem;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: #DCEFFE;
    content: '';
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.slick-dots li button {
     width: 0.571rem;
     height: 0.571rem;
     background: none;
 }
.slick-dots li.slick-active button {
    width: 0.571rem;
    height: 0.571rem;
    background: none;
    background-color: #156EE6;
    top: 3px;
    left: 3px;
}
.copy-link {
    display: inline;
    color: #B6B6B6;
    font-size: 0.8rem;
    margin-left: 20px;
}
.copy-link img {
    vertical-align: -2px;
    margin-right: 6px;
}
.copy-link:hover {
    cursor: pointer;
    text-decoration: underline;
}





@media only screen and (max-width: 1599px) {
    .news-page .slider_slick_filter {
        top: 112px;
    }
}

@media only screen and (max-width: 1466px) {
    .logo-col {
        padding-right: 3rem;
    }

    header li {
        padding: 1.429rem 0.7rem;
    }
}

@media only screen and (max-width: 1310px) {
    .logo-col {
        padding-right: 1rem;
    }

    .logo-col img, .logo-col svg {
        height: 3.4rem;
    }

    header .header-container {
        padding-bottom: 1.5rem;
    }

    header li {
        padding: 1.429rem 0.4rem;
    }

    .phone-header__cont span, .phone-header__cont a {
        padding-left: 0.8rem;
        font-size: .8rem !important;
    }

    .header-buttons .button-singup {
        width: 9.5rem;
        margin-left: 0.8rem;
    }

    .phone-header__cont img {
        margin-right: 0.1rem;
    }

    .news-page .slider_slick_filter {
        top: 105px;
    }

    .contact-num {
        font-size: 0.9rem;
        padding-left: 24px;
    }

    .contact-info {
        padding: 1.6rem 0.7rem;
    }

    .contact-name {
        font-size: 1.1rem;
    }

    .contact-desc {
        margin-bottom: 15px;
    }

    .contact-num:before {
        top: 0;
    }
}

@media only screen and (max-width: 1055px) {
    section#about {
        padding-top: 4rem;
    }

    body .container-fluid {
        padding-right: 3%;
        padding-left: 3%;
    }

    .news-page .slider_slick_filter {
        padding-right: 3%;
        padding-left: 3%;
        top: 89px;
    }

    .contacts-block {
        padding: 0 5%;
    }

    .contact-block {
        width: 46%;
        margin-right: 8%;
        margin-bottom: 3rem;
    }

    .contact-block:nth-child(2n) {
        margin-right: 0;
    }

    .contacts-section {
        margin-top: 0;
    }

    .contact-num {
        font-size: 1rem;
        padding-left: 28px;
    }

    .contact-info {
        padding: 1.6rem 0.7rem;
    }

    .contact-name {
        font-size: 1.2rem;
    }

    .contact-desc {
        margin-bottom: 15px;
        font-size: 1rem;
    }

    .contact-num:before {
        top: 0;
    }
    .slick-dots {
        justify-content: flex-start;
    }
    .news-single-section {
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 991px) {
    .about-text {
        margin: 1rem 0;
    }

    .teaser {
        min-height: 60vh !important;
        height: 60vh !important;
    }

    .teaser__content-container {
        min-height: 60vh !important;
    }

    .teaser-content__title {
        line-height: 3rem;
    }

    .about-stats {
        margin-top: 0;
    }

    .more-btn {
        margin-bottom: 22px;
    }

    .advantages-block.blue3 {
        border-bottom: 1px solid #156EE6;
    }

    .session-block .session-top {
        height: 15.5vw;
    }

    footer .logo_link {
        display: none;
    }

    .about-img img {
        max-height: unset;
    }

    .about-advantages {
        padding: 0;
    }

    .points-section {
        padding: 0;
    }

    .culture-program-point {
        flex-direction: column;
        align-items: center;
    }

    .culture-program-point img {
        width: unset;
        height: 100px;
        object-fit: contain;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .help-section {
        padding: 0 0 1.5rem;
    }

    .help-contact-block {
        width: 100%;
        margin-bottom: 40px;
    }

    .read-more {
        display: none;
    }

    .go-back, .go-next {
        width: 30%;
    }

}

@media only screen and (max-width: 642px) {
    .about-text h3 {
        display: block;
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 575px) {
    body .container-fluid {
        padding-right: 4%;
        padding-left: 4%;
    }

    .teaser {
        min-height: calc(100vh - 88px) !important;
        height: calc(100vh - 88px) !important;
    }

    .teaser__content-container {
        min-height: calc(100vh - 88px) !important;
    }

    .teaser-content__title {
        line-height: 2.5rem;
    }

    .teaser-content {
        width: 100%;
    }

    .teaser-content-buttons {
        width: 100%;
        flex-direction: column;
    }

    .teaser-content__button {
        width: 100%;
    }

    .advantages {
        padding: 1rem 0 2rem;
    }

    .advantages h3 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .advantages-blocks {
        padding: 0;
    }

    .advantages-block {
        padding: 25px 0;
    }

    .advantages-block.blue2 {
        border-bottom: 1px solid #156EE6;
    }

    #registration .about-text h3 {
        text-align: center;
    }

    #registration .about-text p {
        text-align: center;
    }

    .adv-btn a {
        width: 100%;
    }

    section#about {
        padding-bottom: 5rem;
    }

    .advantages-online {
        padding: 1rem 0 0;
    }

    .advantages-online-block {
        margin-bottom: 50px;
    }

    .packages {
        padding: 2rem 0 3rem;
    }

    .packages h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    .sessions {
        padding: 0 0 4rem;
    }

    .sessions h3 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .session-block .session-top {
        height: unset;
    }

    .session-block .session-bottom {
        height: 160px;
    }

    .partners-slider-title {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .section-title__black {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .slider-ul {
        padding-bottom: 0;
    }

    .all-partners {
        margin-top: 30px;
    }

    .partners-slider {
        padding: 1.929rem 0 1rem;
    }

    .faq-question {
        padding-bottom: 1rem;
    }

    .faq-answer {
        padding: 0 0 1.2rem;
    }

    .faq-question.active:after {
        transform: rotate(90deg);
    }

    footer .row-ul {
        padding: 2.143rem 0 0;
    }

    footer .copyright {
        margin-bottom: 30px;
    }

    footer .social {
        margin-bottom: 35px;
    }

    footer .social a:nth-child(1) {
        padding: 0 0.5rem 0 0;
    }

    footer .footer-organizations div p {
        margin-top: 20px;
        padding-left: 45px;
    }

    .footer-organizations img {
        top: 17px;
    }

    .table {
        display: none;
    }

    .table-mob {
        overflow-x: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .table-cell {
        flex-grow: 1;
        overflow: hidden;
    }

    .table-mob .table-cell:nth-child(1) {
        width: 25%;
    }

    .table-mob .table-cell {
        text-align: center;
        padding: 5px 10px;
        width: 25%;
    }

    .table-mob .table-row {
        display: inline-flex;
    }

    .table-mob .table-cell-full {
        width: 100% !important;
        text-align: left;
        padding-left: 12px;
        font-size: 1.1rem !important;
    }

    .table-row.table-header .table-cell {
        font-size: 1.1rem;
    }

    .table-row .table-cell, .table-row-gr .table-cell {
        font-size: 1.1rem;
    }

    .table-mob p {
        color: #156EE6;
        font-size: 0.7rem;
        padding-left: 12px;
        margin: 5px 0 15px;
    }

    .table-mob .table-btn .table-cell {
        padding: 20px 0 20px 12px;
    }

    .table-mob .table-title-first .table-cell {
        text-align: left;
        padding: 0 0 18px;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .table-mob .table-title .table-cell {
        text-align: left;
        padding: 18px 0;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .table-row.table-noborder .table-cell {
        font-size: 1.1rem;
    }

    .table-row .table-cell, .table-row-gr .table-cell {
        font-size: 0.75rem;
        line-height: 1.1rem;
    }

    .table-header-mob {
        display: block;
        width: 110%;
        margin-left: -5%;
    }

    .table-header-mob .table-cell {
        padding-left: 24px;
    }

    .table-mob .adv-btn {
        width: 100%;
    }

    .table-cell .arrow-btn {
        float: unset;
    }

    .about-text .blue-text {
        padding-left: 10px;
    }

    .about-advantages {
        padding: 1.2rem 0 2rem;
    }

    .about-advantages-block {
        padding: 30px 0;
    }

    .about-page section#about {
        padding-bottom: 0;
    }

    .slider_slick_filter li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .culture-program {
        margin-top: 1rem;
    }

    .culture-program .mob-about-text h3 {
        display: none;
    }

    .culture-program .img-wrap.img_h.img_wrap_back {
        height: 20rem !important;
    }

    .help-section .all-partners {
        margin-top: 0;
    }

    .archive-section {
        margin-top: 2.6rem;
    }

    .archive-title {
        margin: 20px 0;
    }

    .archive-section .all-partners {
        display: none;
    }

    .contacts-section {
        margin-top: 1.5rem;
    }

    .contacts-block {
        padding: 0 5%;
    }

    .contact-block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .contact-block:nth-last-child(1) {
        margin-bottom: 0;
    }

    .contacts-page h3 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .request-section form input {
        margin-bottom: 1.4rem;
    }

    .request-section form input[type="submit"] {
        margin-top: 0.7rem;
    }

    .coordinates-section {
        padding-top: 0.7rem;
    }

    .coordinates-section .address-link {
        display: inline;
    }

    .points-section {
        padding-bottom: 3rem;
    }

    .points-section .all-partners {
        margin-top: 2rem;
    }

    .news-page .about-text p {
        font-size: 1rem;
        line-height: 1.43rem;
    }

    .news-page section#about {
        padding-bottom: 0;
    }

    .news-page .news-list {

    }

    .request-section h3 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .news-page .partners-slider {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .news-page .request-section {
        padding-bottom: 3rem;
    }

    .news-page .slider_slick_filter {
        padding-right: 4%;
        padding-left: 4%;
    }

    .go-back, .go-next {
        margin: 22px 0 8px;
        width: 50%;
    }
    .go-back a {
        padding-left: 20px;
    }
    .go-next a {
        padding-right: 20px;
    }
    .news-single-page h3 {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .news-single-date {
        font-size: 1rem;
        margin: 0 0 1rem;
    }
    .news-social {
        margin: 30px 0 20px;
    }
    .navigation-arrows {
        margin-bottom: 60px;
    }
    .copy-link {
        margin-left: 12px;
    }
    .copy-link span {
        display: none;
    }
    .news-social span {
        margin-right: 15px;
    }
}

@media only screen and (min-width: 1600px) {
    html {
        font-size: 15px;
    }

    .teaser-content {
        width: 700px;
    }

    .teaser-content__subtitle {
        width: 500px;
        padding-bottom: 2rem;
    }

    .advantages {
        padding: 6rem 0;
    }

    .session-block .session-top {
        height: 14vw;
    }

    .points-section {
        padding: 3rem 0 6rem;
    }

    /* About page */
    .about-page .teaser-content {
        width: 720px;
    }

    .about-page .points-section {
        padding: 5rem 0 2.3rem;
    }
}

@media only screen and (min-width: 1920px) {
    .logo-col {
        padding-right: 5rem;
    }

    header li {
        padding: 1.429rem 1.2rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }
}

