.scroll-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: "AktivGroteskRegular";
    padding: 3.125rem 0;
}

.scroll-slider__item {
    min-height: 354px;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    background-color: #dbefff;
    min-width: 11.79rem;
    width: 11.79rem;
    margin-right: 5.571rem;
}

.scroll-slider__item .img img {
    width: 100%;
    display: block;
}

.scroll-slider__item .text {
    padding: 1.25rem .625rem .9rem .93rem;
}

.scroll-slider__item .name {
    color: #212633;
    font-size: 1rem;
    margin-bottom: 1.625rem;
}

.scroll-slider__item .position {
    color: #212633;
    font-size: .625rem;
    min-height: 2.5rem;
    margin-bottom: 1.25rem;
}

.scroll-slider__item .cont a {
    color: #212633;
    font-size: .625rem;
    display: block;
}

.command-section {
    margin-bottom: 3.75rem;
}

.map-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.map-section .text {
    float: left;
    width: 38%;
    padding: 3.75rem 0 3.75rem 5%;
    background-color: #212533;
    min-height: 26.25rem;
}

.map-section .map_box {
    position: relative;
    float: left;
    width: 62%;
    min-height: 26.25rem;
}

.map-section #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}

.contacts-list__item {
    color: #fff;
    font-size: 1rem;
    font-family: "AktivGroteskRegular";
    margin-bottom: 1.275rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts-list__item .img {
    width: 1.56rem;
    height: 1.56rem;
}

.contacts-list__item .img img {
    max-width: 100%;
    max-height: 100%;
}

.contacts-list__item .info {
    padding: 0 .93rem;
}

.contacts-list__item a {
    color: #fff;
    font-size: 1rem;
    font-family: "AktivGroteskRegular";
}

.color-white {
    color: #ffffff !important;
}

.color-cyan {
    color: #7DE2F4 !important;
}

.tech-days-top {
    padding: 3.75rem 0;
    min-height: 32.8rem;
    position: relative;
    margin-bottom: 1.5rem;
}

.tech-days-top .main_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 0;
}

.tech-days-first-screen-text {
    position: relative;
    z-index: 2;
}

.tech-days-first-screen-text .date {
    font-size: 1.6rem;
    margin-bottom: 1.875rem;
}

.tech-days-first-screen-text .event-name {
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 2.81rem;
}

a.bt-info {
    text-decoration: none !important;
    color: #ffffff !important;
}

.bt-info:hover {
    background: #0056b3;
}

.bt-info:focus {
    transition: none 0s ease 0s;
    background: #0057b39a;
}

.org-row .org-item .org-title {
    font-size: .875rem;
    margin-bottom: 1.75rem;
}

.org-row .org-item .org-img-cont {
    height: 3.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.org-row .org-item .org-img-cont img {
    width: 10.25rem;
    max-width: 100%;
    max-height: 100%;
}

.top-bottom-borders {
    border-top: 1px solid #8795a5;
    border-bottom: 1px solid #8795a5;
    padding: 1rem 0;
    margin-bottom: 1.875rem;
}

.download_pdf {
    height: 2.81rem;
    padding-left: 3.2rem;
    line-height: 1.3;
    font-size: .75rem;
    position: relative;
    color: #222633;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
}

.download_pdf:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 2.81rem;
    height: 2.81rem;
    margin-top: -1.405rem;
    background: url("/local/templates/oilgasforum_2020/css/scss/../../img/pdf_icon.png") no-repeat 50% 50%/contain;
}

.present-and-button__cont {
    padding-top: 2.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.use-unique-opportunity__text {
    margin-top: 0;
    padding: 1.375rem 0;
}

.accent-text {
    color: #032562;
    font-size: 1.25rem;
    font-weight: bold;
}

.tech-slider {
    padding-right: 3.125rem;
    margin-bottom: 2rem;
}

.tech-slider__item img {
    width: 100%;
}

.section-title--pad {
    margin-bottom: 1.875rem;
}

.section-subtitle {
    margin-bottom: 1.75rem;
}

.darkBlue-section {
    margin-top: 2rem;
}

.darkBlue-section ul {
    color: #b1c1d1;
    padding-left: 1rem;
}

.darkBlue-section ul li {
    list-style: disc;
}

.darkBlue-section .download_pdf {
    font-weight: normal;
}

.darkBlue-section .download_pdf:before {
    background: url("/local/templates/oilgasforum_2020/css/scss/../../img/pdf-hover.png") no-repeat 50% 50%/contain;
}

.parallax-window {
    min-height: 27.375rem;
    padding: 4.6rem 0;
}

.parallax-window .head {
    width: 23.75rem;
    max-width: 100%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    border-bottom: 4px solid #7ce1f4;
    padding-bottom: 1rem;
}

.lightBlue-section {
    background: #156EE6;
    padding-bottom: 5.5rem;
}

.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}

.slick-dots li button:before {
    font-size: 8px;
}

.top-bottom-borders__cont {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.top-bottom-borders__cont .top-bottom-borders {
    width: 20%;
    border-bottom: 1px solid #6390d3;
    border-top: 1px solid #6390d3;
}

.points-section {
    padding-bottom: 4rem;
}

.points_box {
    margin-top: 3.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-bottom: 2.5rem;
}

.points-section .point-item-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    position: relative;
    border-top: 1px solid #d8e0e8;
    border-bottom: 1px solid #d8e0e8;
    padding: 3.75rem 0 3.125rem 0;
}

.point-item-col .content .point-content-title {
    min-height: 4.5rem;
    font-weight: bold;
}

.point-num-cont {
    position: absolute;
    top: -1.7rem;
    left: 0;
}

.point-num {
    font-size: 1.5rem;
    color: #fff;
    /* float: left; */
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* padding-top: 0.2rem; */
}

.point-line {
    width: 75%;
    height: 1.7rem;
    border-bottom: 1px solid #d8e0e8;
}

.accent-cyan .point-num {
    background-color: #7ce1f4;
}

.accent-blue .point-num {
    background-color: #146de6;
}

.accent-darkblue .point-num {
    background-color: #1b275d;
}

.partners-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.partners-list .partner_box {
    width: 50%;
    margin-bottom: 3.125rem;
}

.partners-list .partner_box:nth-child(2n - 1) {
    padding-right: 2.4rem;
}

.partners-list .partner_box:nth-child(2n) {
    padding-left: 2.4rem;
}

.partners-list .partner {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.partners-list .partner .partner-status {
    padding: 1.2rem;
    font-size: .7rem;
    font-weight: 600;
}

.partners-list .partner .partner-image {
    padding: 0 1.2rem;
    height: 4.8rem;
    margin-bottom: 1.8rem;
}

.partners-list .partner .partner-image img {
    max-width: 100%;
    max-height: 100%;
}

.partners-list .partner .partner-text {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    padding: 1.2rem 1.2rem 3.4rem;
    background-clip: padding-box;
    background-color: #dbefff;
    font-size: .75rem;
}

.partners-list .partner .partner-text .partner-url {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .6rem 1.2rem;
}

.partners-list .partner .partner-text .partner-url a {
    color: #212633;
    font-size: .625rem;
}

.partners-list .partner .partner-text .partner-title {
    color: #212633;
    text-transform: uppercase;
    margin-bottom: 2.75rem;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 991px) {
    .tech-slider {
        padding-right: 0;
    }

    .present-and-button__cont {
        padding-top: 2rem;
        display: block;
    }

    .present-and-button__cont .download_pdf {
        margin-bottom: 2rem;
    }
}

.popover {
    background: #fff;
    border: 1px solid #ccc;
    width: 15rem;
    font-size: .75rem;
    line-height: 1.2;
    border-radius: 5px;
    max-width: 100%;
    padding: .5rem;
}

.popover .arrow {
    display: none !important;
}

@media (max-width: 767px) {
    .partners-list {
        display: block !important;
    }

    .partners-list .partner_box {
        width: 100%;
        margin-bottom: 3.125rem;
    }

    .partners-list .partner_box:nth-child(2n - 1) {
        padding-right: 0;
    }

    .partners-list .partner_box:nth-child(2n) {
        padding-left: 0;
    }

    .tech-slider {
        padding-right: 0;
    }

    .map-section {
        display: block;
    }

    .map-section .text {
        float: none;
        width: 100%;
        padding: 3.75rem 5%;
        min-height: 1px;
    }

    .map-section .map_box {
        float: none;
        width: 100%;
    }

    .org-row .org-item .org-title {
        margin-bottom: 1rem;
    }

    .org-row .org-item {
        margin-bottom: 3rem;
    }

    .org-row .org-item .org-img-cont img {
        width: 10.25rem;
        max-width: 100%;
        max-height: 100%;
        -webkit-filter: grayscale(0) !important;
        filter: grayscale(0) !important;
    }

    .darkBlue-section .right-block {
        margin-top: 2rem;
    }

    .top-bottom-borders__cont .top-bottom-borders {
        width: 45%;
    }

    .points-section .point-item-col {
        width: 100%;
    }

    .section-title {
        font-size: 2.1rem;
    }
}

@media (max-width: 585px) {
    .row {
        margin: 0 -15px;
    }
}

@media (max-width: 575px) {
    .tech-days-first-screen-text .event-name {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.7rem;
    }

    .top-bottom-borders__cont {
        display: block !important;
    }

    .top-bottom-borders__cont .top-bottom-borders {
        width: 100%;
    }

    .tech-days-top {
        min-height: 25.8rem;
    }
}

@media (min-width: 1056px) {
    .main-nav > ul > li {
        position: relative;
    }

    .main-nav > ul > li ul {
        background-color: #171A23;
        position: absolute;
        top: 100%;
        left: 0;
        padding: .625rem 0;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        z-index: 10;
    }

    .main-nav > ul > li ul li {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    .main-nav > ul > li ul li a {
        display: block;
        /*padding: .35rem .625rem .35rem .93rem;*/
    }

    .main-nav > ul > li:hover ul {
        visibility: visible;
        opacity: 1;
    }
}