/* Start:/local/templates/oilgasforum_2020/template_styles.css?159722627481319*/
a.bt-info {
    text-align: center;
    color: #FBFBFB !important;
    border-radius: 0.5px
}

.modal-header {
    display: block;
}

.modal-content__speakers .modal-header .modal-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 2.143rem;
    line-height: 2.143rem;
    letter-spacing: -0.01em;
    color: #212529;
    width: 100%;
    position: relative;
}

.modal-content__speakers .modal-header {
    border: none;
    border-radius: 0;
    padding: 2.714rem 1.443rem;
}

.modal-content__speakers .modal-body {
    padding: 0;
    overflow: auto;
}

.modal-content__speakers .modal-singup-div {
    padding-left: 1.443rem;
    padding-right: 0;
}

#ModalTechDaysSpecialist .modal-header h4 {
    line-height: 1;
    font-size: 18px;
}

#ModalTechDaysSpecialist .modal-body {
    padding: 0 0 2rem 0;
}

#ModalTechDaysSpecialist .participant-photo {
    text-align: center;
}

#ModalTechDaysSpecialist .participant-photo img {
    width: 100%;
}

#ModalTechDaysSpecialist .participant-title {
    padding: 0 20px;
    font-size: 1rem;
    margin-bottom: 1.625rem;
}

#ModalTechDaysSpecialist .participant-desc {
    font-size: .625rem;

    padding: 0 20px !important;
    text-align: left !important;
}

#ModalTechDaysSpecialist .participant-desc a {
    color: #212633;
    font-size: .625rem;
    display: block;
}

#ModalTechDaysSpecialist .participant-contacts {
    padding: 20px 20px 0 20px;
}

#ModalTechDaysSpecialist .participant-contacts a {
    color: #212633;
    font-size: .625rem;
    display: block;
}

html {
    margin: 0 !important;
    max-width: 100% !important;
}

.teaser-item .teaser-item__content {
    margin: 30px 0;
}

.mCSB_scrollTools {
    opacity: 1;
}

.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    background: #156EE6 !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
    background: #156EE6 !important;
}

.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag .mCSB_1_dragger_horizontal .mCSB_dragger_bar,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag .mCSB_1_dragger_horizontal .mCSB_dragger_bar,
.mCustomScrollBox:hover > .mCSB_scrollTools .mCSB_dragger_bar,
.mCustomScrollBox:hover ~ .mCSB_scrollTools .mCSB_dragger_bar,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools .mCSB_dragger_bar,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools .mCSB_dragger_bar {
    background: #7ce1f5 !important;
}

.modal-video-body {
    max-width: 70%;
}

.teaser {
    /* min-height: 90.55vh; */
}

.formats-cards .formats-card {
    padding: 2.143rem 1.071rem;
    width: calc(1 / 4 * 100% - (1 - 1 / 4) * 4.286rem);
}

#about .section-content .img-wrap .img-link-a {
    display: block;
}

.tech-slider {
    padding-right: 3.125rem;
    margin-bottom: 2rem;
    min-height: 20rem;
}

.tech-slider__item img {
    width: 100%;
}

.brands-slider-arrws {
    top: 50%;
    margin-top: 30px;
}

.participant-tabs,
.participant-tabs li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.participant-tabs {
    margin: -20px -60px 50px -60px;
}

.participant-tabs:after {
    content: "";
    display: block;
    clear: both;
}

.participant-tabs li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.participant-tabs li.active {
    color: white;
}

.participant-tab.big-list li {
    margin-bottom: 30px;
}

.registration .pr-60 {
    padding-right: 60px;
}

.registration .pl-60 {
    padding-left: 60px;
}

.participant-tabs {
    margin: -20px -60px 50px -60px;
}

.participant-tabs:after {
    content: "";
    display: block;
    clear: both;
}

.registration .border-left {
    border-left: 1px solid #e6e7e8;
}

.well-footer {
    margin: 40px -60px -20px -60px;
    padding: 20px 60px;
    border-top: 1px solid #e6e7e8;
}

.well-footer .price {
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    /* display: none; */
}

.well-footer .price .additional-price {
    color: #333;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 10px;
}

.big-list, .big-list li, .about-list, .about-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.big-list li {
    padding-left: 40px;
    background: url(/bitrix/templates/oilgasforum/images/icon-yes.svg?1) no-repeat left top;
    background-size: 25px;
    margin-bottom: 15px;
    min-height: 1.75rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .big-list li {
        background-image: url(/local/templates/oilgasforum_2020/images/icon-yes@2x.png?1);
    }
}

.big-list li.no {
    background: url(/local/templates/oilgasforum_2020/images/icon-circle.png?1) no-repeat left top;
    background-size: 25px;
    color: #888;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .big-list li.no {
        background-image: url(/local/templates/oilgasforum_2020/images/icon-circle@2x.png?1);
    }
}

.big-list li b {
    display: block;
}

.big-list.width33 li {
    width: 33.333333333%;
    float: left;
    padding-right: 30px;
}

.big-list.width50 li {
    width: 50%;
    float: left;
    padding-right: 30px;
}

.well-white {
    padding: 20px 60px;
    background: white;
}

.simple-modal {
    display: none;
}

.simple-modal .simple-modal-bg {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.simple-modal .simple-modal-body {
    background: white;
    width: 60%;
    min-height: 400px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -30%;
    padding: 40px;
    z-index: 100;
}

.simple-modal .simple-modal-close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: gray;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.lang_changer a.ru-lang {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/local/templates/oilgasforum_2020/images/2019-images/ru-icon-stroke.svg);
    background-repeat: no-repeat;
}

.lang_changer a.ru-lang.active_lang,
.lang_changer a.ru-lang:hover {
    background-image: url(/local/templates/oilgasforum_2020/images/2019-images/ru-icon-active.svg);
}

.lang_changer a.en-lang {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/local/templates/oilgasforum_2020/images/2019-images/en-icon-stroke.svg);
    background-repeat: no-repeat;
}

.lang_changer a.en-lang.active_lang,
.lang_changer a.en-lang:hover {
    background-image: url(/local/templates/oilgasforum_2020/images/2019-images/en-icon-active.svg);
}

header .main-nav a.active {
    color: #156EE6;
    text-decoration: none;
}

.main-orgs-container {
    margin: 0 -1.5rem;
}

.main-orgs-container .orgs {
    margin: 0 1.5rem;
}

.orgs-title {
    min-height: 40px;
}

.orgs-img img {
    max-width: 17rem;
    max-height: 6.857rem;
    width: auto;
}

.orgs_1 {
    width: 240px;
    margin-right: 1.429rem;
}

.orgs_2 {
    margin-right: 1.429rem;
    max-width: 400px;
}

.org-row .org-item .org-img-cont {
    height: 8.625rem;
}

@media only screen and (max-width: 1920px) {
    .orgs_2 {
        margin-right: 1.429rem;
        max-width: 300px;
    }
}

@media only screen and (max-width: 1600px) {
    .modal-video-body {
        max-width: 80%;
    }

    .orgs_2 {
        margin-right: 1.429rem;
        max-width: 240px;
    }
}

@media only screen and (max-width: 1400px) {
    .teaser {
        min-height: 70vh;
    }

    .teaser-news {
        margin-top: 0;
    }

    .modal-video-body {
        max-width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    .teaser {
        min-height: 60vh;
    }
}

@media only screen and (max-width: 1000px) {
    .teaser {
        min-height: 55vh;
    }
}

@media only screen and (max-width: 992px) {
    .tech-slider {
        padding-right: 0;
    }

    .about-text {
        border-top: none;
        margin: 2.143rem 0;
        padding: 0;
    }

    #about .section-content .img-wrap, .person-section-wpap .person-img-wrap {
        height: 500px !important;
    }

    .repl-content {
        border-top: none;
    }

    .person-section-wpap .col-5-mobile {
        padding-left: 15px;
    }

    .person-section-wpap .repl-content {
        border-bottom: none;
    }
}

@media only screen and (max-width: 768px) {
    .programm-item .head_block .place {
        display: none;
    }

    .programm-item.well-white {
        height: auto;
    }

    .programm-item .head_block .status {
        width: 100%;
        padding-left: 0 !important;
        justify-content: space-between;
        text-align: left;
    }

    .programm-item .head_block .status__item {
        display: inline-flex;
        width: 25%;
    }

    .menu-down__cont {
        padding: 0;
        line-height: 2rem;
    }

    .item-list.three-cols-row .item-card {
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 1.443rem);
    }

    .preim-i-vozm {
        padding-left: 0 !important;
        border: none !important;
    }

    .ex-card .ex-card__title .ex-card__name {
        font-size: 1.2rem;
    }

    .tech-orgs {
        margin-top: 30px;
    }

    .tech-slider {
        padding-right: 0;
    }

    html .participant-tabs li {
        font-size: 18px;
    }

    html, body {
        max-width: 100%;
        margin: auto;
    }

    html .big-list.width50 li {
        width: 100%;
        float: none;
    }

    .reg_page {
        max-width: unset;
    }
}

@media only screen and (max-width: 765px) {
    /*.about-stats .col-12 {*/
    /*    padding: 0 15px;*/
    /*}*/
}

@media only screen and (max-width: 660px) {
    .formats-indicator-area {
        display: none;
    }

    .modal-video-body {
        max-width: 100%;
    }
}

@media only screen and (max-width: 642px) {
    /*.stats-number {*/
    /*    font-size: 1.929rem !important;*/
    /*}*/
    .about-stats .about-stats__content {
        max-height: 7rem;
        text-align: left;
        margin-bottom: 1rem;
    }

    .about-stats .about-stats__content .stats-desc {
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 585px) {
    .teaser {
        min-height: 40vh;
    }

    #about .section-content .img-wrap, .person-section-wpap .person-img-wrap, .exposition-section .img-wrap {
        height: 450px !important;
        margin: 0 -30px;
    }

    #about .row {
        /*margin: 0 -5px;*/
    }

    .tech-orgs__logos {
        text-align: center;
        display: block;
    }

    .tech-orgs__logos img {
        display: block;
        text-align: center;
        margin: 15px 0;
    }
}

@media only screen and (max-width: 480px) {

    #about .section-content .img-wrap, .exposition-section .img-wrap {
        height: 400px !important;
    }

    .row-with-negative-m {
        margin: 0 -15px;
    }

    .section-title {
        text-align: left;
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 387px) {
    .teaser {
        min-height: 40vh;
    }

    .person-indicator li {
        padding-left: 1.4rem;
    }

    .person-indicator li:first-child {
        padding-left: 0;
    }
}

/* Ð¼Ð¾Ð±Ð¸Ð»ÑŒÐ½Ð¾Ðµ Ð¼ÐµÐ½ÑŽ */

header .mobile_menu li ul {
    display: block !important;
    /*margin-left:20px;*/
}

header .mobile_menu li:hover ul {
    position: static !important;
    background: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.mobile_menu li {
    padding: 1rem 0 0 !important;
}

header .mobile_menu li:hover ul li {
    /*padding:1rem 0 0 20px !important;*/
}

header .mobile_menu li ul li {
    padding: 10px 20px !important;
}

.mobile_menu {
    max-height: 100%;
    overflow-y: auto;
}

.mobile_menu-phone {
    border-top: 1px solid #696b71;
    padding: 20px 0 0 0;
    margin-top: 20px;
}

.mobile_menu-lang {
    border-top: 1px solid #696b71;
    padding: 20px 0;
    margin-top: 20px;
}

.mobile_menu-lang a {
    margin-right: 40px;
}

header .mobile_menu li.active a {
    color: #156ee6;
}

/* Ð¿Ñ€Ð°Ð²ÐºÐ¸ 30.07 */

.stats_last .row-border-bottom:before {
    height: 0px;
    background: transparent;
    border-bottom: 1px solid #AFAFAF;
}

.select-text {
    font-family: AktivGroteskLight;
}

.formats-indicator__text {
    font-family: "AktivGroteskLight";
}

.tech-text {
    /* padding: 0 1.071rem 1.786rem 1.071rem; */
    line-height: 1.2;
    /* border-top: 1px solid #AFAFAF; */
    width: 100%;
    /* border-bottom: 1px solid #AFAFAF; */
    padding: 1.3rem 0;
}

.tech-days-about {
    padding: 0 0 0 1.071rem;
}

.tech-orgs__logos {
    margin-bottom: 1rem;
}

.tech-text__desc {
    margin-top: 1.929rem;
    margin-bottom: 1rem;
}

.about-stats .about-stats__content a {
    font-size: 1rem;
}

.lightBlue-section .slick-dots li {
    background-color: #fff;
}

@media only screen and (max-width: 642px) {
    .about-stats .about-stats__content {
        max-height: 7rem;
        text-align: left !important;
    }
}

.row:before {
    width: 0;
}

.accent-text {
    color: #404041;
    font-size: 1.35rem;
    font-weight: normal;
    margin-top: 3rem;
    line-height: 1.7;
}

.color-darkblue {
    color: #032562;
    font-size: 1.25rem;
    font-weight: bold;
}

.stats_last .row-border-bottom:before {
    height: 0px;
    background: transparent;
    border-bottom: 1px solid #AFAFAF;
}

.select-text {
    font-family: AktivGroteskLight;
}

.formats-indicator__text {
    font-family: "AktivGroteskLight";
}

.pick_S {
    font-family: "AktivGroteskLight";
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}

.tech-orgs__logos {
    margin: 2.67rem -10px 0 -10px;
}

.tech-mainpage {
    padding-right: 0;
    height: 100%;
    z-index: 10;
}

/* Ð¿Ñ€Ð°Ð²ÐºÐ¸ 13.08 */

.text_h_v, .text_h {
    /* border-bottom: 1px solid #AFAFAF; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.speakers__item .img {
    width: 7.5rem;
    height: 7.5rem;
}

.tech-days-first-screen-text .event-name, .page-teaser .teaser-content__title {
    font-size: 1.929rem;
    font-family: AktivGroteskLight;
    padding: 0.9286rem 0;
    line-height: 2.214rem;
    font-weight: normal;
}

.teaser-content__title {
    color: #fff;
    font-size: 2.85rem;
    font-family: AktivGroteskRegular;
    padding: .7rem 0;
    font-weight: normal;
    line-height: 3.57rem;
    margin: 0;
}

.tech-days-first-screen-text p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.5rem;
    padding-bottom: 2.5rem;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.page-teaser .teaser-content__date {
    font-size: 1.071rem;
}

.tech-days-top {
    display: flex;
    align-items: center;
}

.tech-days-first-screen-text .date {
    font-size: 1.071rem;
    margin-bottom: 0;
}

.key_teh p {
    padding: 0 1.071rem 0 1.071rem;
    line-height: 1.2;
}

.doc-text {
    font-size: 0.93rem;
}

.brands-container {
    margin: 0 2rem 0 4.5rem;
    overflow: hidden;
}

.cb-num {
    margin-left: 1.5rem;
    color: #156ee6;
}

.cb-text {
    margin-left: 1.5rem;
    color: #404041;
}

@media only screen and (max-width: 1200px) {
    .tech-orgs__logos img {
        height: 40px;
    }
}

/*** slider navigation dots ***/

.tech-slider_padding-bottom {
    padding-bottom: 2rem;
}

.tech-slider_padding-bottom .slick-dots {
    bottom: unset;
    margin-top: 1rem;
}

.tech-slider .slick-dots li button:before {
    /*display: none;*/
}

.tech-slider .slick-dots {
    justify-content: unset;
}

/* wbnfns */

.krug {
    width: 0.5rem;
    height: 0.5rem;
    background: #E6E7E8;
    display: inline-block;
    border-radius: 50%;
}

.active_indicator .krug {
    background: #156EE6;
}

.krug:hover {
    background: #156EE6;
}

.person-indicator li {
    padding-left: 0px;
    margin-left: 1rem;
}

/* Ð‘Ð»Ð¾Ðº Ð²Ñ‹ÑÑ‚Ð°Ð²ÐºÐ° Ð½Ð° Ð³Ð»Ð°Ð²Ð½Ð¾Ð¹ ÑÑ‚Ñ€Ð½Ð¸Ñ†Ðµ */
.tech-mainpage .tech-slider {
    padding-right: 0;
    margin-bottom: 0;
    height: 100%;
    /* display: flex; */
}

.tech-mainpage .slick-list, .tech-mainpage .slick-list * {
    display: flex;
    height: 100%;
    width: 100%;
}

.tech-mainpage .tech-slider .tech-slider__item {
    display: block !important;
    height: 100%;
}

.tech-mainpage .tech-slider__item img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 28.571rem;
    /* width: auto !important; */
}

@media only screen and (max-width: 992px) {
    .tech-mainpage .tech-slider .tech-slider__item img {
        /* height: auto; */
        width: 100%;
    }
}

.tech-days-page.tech-slider {
    margin-bottom: 3.571rem;
}

.tech-days-page .tech-slider__item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 28.571rem;
}

.use-unique-opportunity__text {
    margin: 0;
    padding: 1.655rem 0 1.655rem 0;
    font-weight: bold;
}

@media (max-width: 991px) {
    .programm-item .head_block .status {
        padding-left: 25px;
    }

    .access {
        margin-bottom: 20px;
    }
}

.brands-container {
    margin: 0 4.5rem;
    overflow: visible;
}

.brands_slider .brands-container {
    position: relative;
}

.brands_slider .row-arrws .brands-el-left,
.brands_slider .row-arrws .brands-el-right {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.brands_slider .row-arrws .brands-el-left {
    left: -50px;
}

.brands_slider .row-arrws .brands-el-right {
    right: -50px;
}

@media only screen and (max-width: 768px) {
    .vdbb_small {
        margin: 0 -3rem;
    }

    .tech-mainpage .tech-slider__item img {
        /* max-height: 25rem; */
    }
}

/*.speaker-modal {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    z-index: 5;*/
/*}*/
.speaker-modal-all {
    position: relative;
    color: #B6B6B6;
}
.speaker-modal-all:after {
    position: absolute;
    content: '';
    top: 4px;
    right: -20px;
    width: 8px;
    height: 10px;
    background: url('../img/arrow-grey.svg') center/contain no-repeat;
    transform: rotate(-90deg);
}
.mini_play {
    z-index: 20;
}

header a {
    color: #FBFBFB;
}

header li {
    padding: 1.429rem;
    border-bottom: 1px solid #DCEFFE;
}

header li:last-child {
    padding-right: 0;
}

header li:first-child {
    padding-left: 0;
}

header li:hover {
    border-bottom: 1px solid #156EE6;
}

.col-7-header {
    padding-top: 0.75rem;
    align-self: center;
}

.logo-col {
    padding-right: 5.357rem;
}

header {
    background-color: #0A1320;
}
.logo-col img, .logo-col svg {
    width: auto;
    height: 5rem;
}

.phone-header__cont span, .phone-header__cont a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 0.857rem;
    letter-spacing: -0.01em;
    color: #FBFBFB;
    padding-left: 2.733rem;
}

.phone-header__cont {
    text-align: right;
    padding: 0;
}

.phone-header__cont span svg, .phone-header__cont a svg {
    margin-top: -3px;
    margin-right: 0.6rem;
    width: 1.143rem;
    height: 1.143rem;
}
.phone-header__cont img {
    margin-top: -3px;
    margin-right: 0.3rem;
    width: 1.7rem;
    height: 1.7rem;
}
.header-buttons .button-forum {
    border: 1px solid #156EE6;
    box-sizing: border-box;
    border-radius: 0.5px;
    padding: 0;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.857rem;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    display: inline-block;
    height: 2.857rem;
    width: 13.071rem;
    text-align: center;
}

.header-buttons .button-forum svg {
    margin-right: 10px;
    /*margin-bottom: 2px;*/
}

.header-buttons .button-singup {
    background: #156EE6;
    border: 1px solid #156EE6;
    box-sizing: border-box;
    border-radius: 0.5px;
    padding: 0;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.857rem;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-left: 1.5rem;
    display: inline-block;
    height: 2.857rem;
    width: 13.143rem;
    text-align: center;
}

.header-buttons a:hover {
    background: #0254C1;
    border: 1px solid #0254C1;
    color: #FFFFFF;
}

header li:hover ul {
    margin-top: 1.143rem;
    min-width: max-content;
}

header li:hover ul div {
    width: 15.357rem;
    height: 100%;
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    border-bottom: 0;
    right: 0;
    top: 0;
    z-index: 99999999;
    position: absolute;
}

header li:hover ul div p {
    padding: .35rem 0;
}

header li:hover ul li {
    border: none;
}

.main-nav > ul > li ul li a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.main-nav > ul > li ul li a:hover {
    color: #156EE6;
}

.about-text {
    border: none;
    padding: 0;
}

.about-text h3 {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size:32px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 20px;
}

.about-text p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
}


.img-wrap.img_h.img_wrap_back {
    height: 21.429rem !important;
}

.about-stats-end .doc-text, .vystavka-slider-after-text .doc-text {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
    padding: 0;
}

.about-stats-end .doc-text:hover, .vystavka-slider-after-text .doc-text:hover {
    color: #156EE6;
}

.about-stats-end .doc-text:hover svg path, .vystavka-slider-after-text .doc-text:hover svg path {
    fill: #156EE6;
}

.partners-slider-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 2.286rem;
    line-height: 2.714rem;
    letter-spacing: -0.01em;
    color: #000000;
    /*padding-bottom: 3rem;*/
}

.partners-slider {
    background: #FBFBFB;
    padding: 1.929rem 0 4rem;
}

.slider_slick_filter {
    display: flex;
}

.slider_slick_filter li {
    display: block;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid #DCEFFE;
}

.slider_slick_filter li:last-child {
    flex: 1;
}

.slider_slick_filter li:last-child:hover {
    border-bottom: 1px solid #DCEFFE;
}

.slider_slick_filter li:first-child {
    padding-left: 0;
}

.slider_slick_filter li a:hover {
    text-decoration: none;
    color: #156EE6;
}

.slider_slick_filter li:hover, .slider_slick_filter li.active {
    border-bottom: 1px solid #156EE6;
}

.slider_slick_filter li:hover a, .slider_slick_filter li.active a {
    color: #156EE6;
}

.slider_slick_filter li a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
}

.new-brands-slider-arrws {
    position: absolute;
    top: -2.8rem;
    right: 5%;

}

.new-brands-slider-arrws.whith-filter {
    top: -5.1rem;
}

.brands-el, .brands-el:focus {
    background-image: url(../img/arrow-1.svg);
    background-size: 100%;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2.143rem;
    cursor: pointer;
}

.brands-el.el-right, .brands-el.el-right:focus {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.brands-el.el-left:hover {
    background-image: url(../img/arrow.svg);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.brands-el.el-right:hover {
    background-image: url(../img/arrow.svg);
    transform: none;

}

.spiker-item {
    max-width: none;
    background: #FFFFFF;
}

.spiker-about {
    background: #FBFBFB;
    padding: 2.571rem 1rem;
    -webkit-border-bottom-right-radius: 0.5px;
    -webkit-border-bottom-left-radius: 0.5px;
    -moz-border-radius-bottomright: 0.5px;
    -moz-border-radius-bottomleft: 0.5px;
    border-bottom-right-radius: 0.5px;
    border-bottom-left-radius: 0.5px;
    min-height: 15.982rem;
}

.spiker-about .spiker-name {
    font-family: AktivGroteskRegular;
    word-spacing: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 1.443rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.spiker-about .spiker-content {
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.01em;
    font-family: AktivGroteskRegular;
    color: #B6B6B6;
    font-size: 1rem;
    line-height: 1.286rem;
}

.spiker-about .spiker-about-bottom a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
    border-bottom: 1px dotted;
}

.spiker-about .spiker-about-bottom a:hover {
    color: #0A1320;
    text-decoration: none;
    border-bottom: 1px solid;
}

.spiker-about-bottom {
    margin-bottom: 2.571rem;
    position: absolute;
    bottom: 0px;
}

.spiker-item .mini_play {
    bottom: 2.571rem;
    width: 1.6rem;
    height: 1.6rem;
    top: auto;
    right: 1rem;
    background: url(/local/templates/oilgasforum_2020/images/mini_play.svg) no-repeat;
    background-size: contain;
}

.spiker-about:hover .mini_play {
    background: url(/local/templates/oilgasforum_2020/images/mini_play_hover.svg) no-repeat;
    background-size: contain;
}

.spiker-about:hover {
    box-shadow: 0px 15px 30px rgba(182, 182, 182, 0.15);
}

.spiker-about:hover .news-date, .spiker-about:hover a {
    color: #156EE6 !important;
}

.all-speakers {
    margin: 0;
}

.speakers_slider_slick, .vystavka-slider-nav, .news-slider {
    margin: 0 -2.143rem;
}

.speakers_slider_slick .slick-slide, .vystavka-slider-nav .slick-slide, .news-slider .slick-slide {
    padding: 0 2.143rem 2.5rem;;
}

.vystavka-slider-nav {
    margin: 0 -0.714rem;
}

.vystavka-slider-for .slick-slide {
    padding-bottom: 0.714rem;
}

.vystavka-slider-nav .slick-slide {
    padding: 0.714rem;
    cursor: pointer;
}

.vystaka-slider-for-img {
    height: 35.714rem;
}

.vystavka-slider-after-text {
    margin-top: 1.571rem;
}

.vystavka-slider-after-text p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
}

.vystavka-preim-item {
    padding: 0 1.071rem;
}

.sphere canvas {
    background-color: #FFFFFF !important;
}

.square-numb {
    border: 1px solid #156EE6;
    box-sizing: border-box;
    border-radius: 0.5px;
    width: 3.571rem;
    height: 3.571rem;
    text-align: center;
    font-family: AktivGroteskRegular;
    font-size: 1.786rem !important;
    line-height: 3.571rem;
    color: #156EE6;
    margin-bottom: 1.756rem;
}

.vystavka-preim-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.571rem;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-top: 1.756rem;
    margin-bottom: 1.286rem;
}

.vystavka-preim-descr {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.partners_slider_slick .slick-dots, .smi_slider .slick-dots {
    justify-content: center;
}

.speakers_slider_slick .spiker-img {
    height: 19.786rem;
}
.faq-questions {
    margin-top: 15px;
}
.faq-question {
    position: relative;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
    padding: 1.313rem 0 1.385rem 0;
    border-bottom: 1px solid rgba(182, 182, 182, 0.6);
}
.faq-question:after {
    position: absolute;
    content: '';
    right: 0;
    top: 25px;
    width: 10px;
    height: 10px;
    background: url('../img/arrow-grey.svg') center/contain no-repeat;
}
.faq-question.active:after {
    background: url('../img/arrow-blue.svg') center/contain no-repeat;
}

.faq-question:hover, .faq-question.active {
    color: #156EE6;
    border-bottom: 1px solid #156EE6;
    cursor: pointer;
}

.faq-question i {
    color: rgba(182, 182, 182, 0.6);
}

.faq-question:hover i {
    color: #156EE6;
}

.faq-question.active i {
    color: #156EE6;
    transform: rotate(270deg);
}

.faq-answer {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529
}

.faq-answer {
    display: none;
}

.faq-answer1 {
    display: block;
}

.modal-content__speakers .spiker-img {
    max-height: 19.786rem;
    overflow: hidden;
}

.all-speakers a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
}

.all-speakers a:hover {
    text-decoration: none;
    color: #156EE6;
}

#speakerModalAll {
    display: none;
}

.modal-body .spiker-item {
    margin-right: 0;
    background: none;
    margin-bottom: 2.143rem;
}

.modal-content__speakers {
    height: 90%;
    border-radius: 0;
}

.modal-dialog-content__speaker {
    height: 100px;
}

.sticky-modal-panel {
    position: sticky;
    bottom: 0%;
    background: #ffffff;
    padding: 2.714rem 1.443rem;
}

.slider-content {
    margin: 0;
}

.sticky-modal-panel .signup {
    font-family: AktivGroteskRegular;
    background: #156EE6;
    border: 1px solid #156EE6;
    box-sizing: border-box;
    float: right;
    /*padding: 10px 50px;*/
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 3.214rem;
    width: 100%;
    height: 3.214rem;
    letter-spacing: -0.01em;
    color: #FBFBFB;
}

.sticky-modal-panel .signup:hover {
    text-decoration: none;
    background: #0254C1;
}

.sticky-modal-panel .text {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.443rem;
    line-height: 1.714rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.section-title__black {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 2.286rem;
    line-height: 2.714rem;
    letter-spacing: -0.01em;
    color: #000000;
}

section#about {
    padding-top: 7.429rem;
    padding-bottom: 7.143rem;
}

section#speakers {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

section#cost {
    padding-top: 0;
    padding-bottom: 2rem;
}

.participation-cards .participation-card {
    padding: 0;
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 1.443rem);
}

.ex-card .ex-card__title {
    border: none;
    position: relative;
}

.ex-card__title span svg {
    width: 1.643rem;
    height: 1.643rem;
}

.ex-card__title span:hover svg rect {
    fill: #156EE6;
}

.ex-card .ex-card__gallery {
    background: #FBFBFB;
    border-radius: 0.5px;
    margin: 0;
    height: 17.857rem;
}

.ex-card .ex-card__gallery img {
    height: 14.286rem;
}

.ex-card .ex-card__gallery img.lukoil {
    height: 9.286rem;
}

.ex-card .ex-card__title .ex-card__name {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.571rem;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 1.443rem;
}

.ex-card .ex-card__title .ex-card__vars {
    margin: 2.5rem 1.443rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ex-card .ex-card__title .ex-card__vars a, .ex-card .ex-card__title .ex-card__vars p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
    margin: 0 0 1.571rem 0;

    display: block;
    width: 100%;
}

.ex-card .ex-card__title .ex-card__vars .black-var p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 0 0 22px 0;
}

.ex-card .ex-card__title .ex-card__vars a.active_a span {
    border-bottom: 1px solid #156EE6;
}

.ex-card .ex-card__title .ex-card__vars a:hover + p {
    color: #156EE6;
}

.ex-card__subtitle {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #212529;
    margin: 0 1.443rem;
}

.packet-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.packet-download {
    float: right;
}

.packet-download span {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.714rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
    float: right;
}

.packet-download span:hover {
    color: #156EE6;
}

.packet-download span:hover svg path {
    fill: #156EE6;
}

.formats-card-hover-block {
    position: relative;
    overflow: hidden;
}

.formats-card-hover-block::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -100%, 0);
}

.formats-card-hover-block:hover:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 100%, 0);
}

.formats-cards .card-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #FBFBFB;
    margin-bottom: 1rem;
}

.formats-cards .formats-card:nth-child(1), .formats-cards .formats-card:nth-child(1):hover {
    background: linear-gradient(138.9deg, #00BBF5 0%, #28CBFF 48.44%, #00BBF5 100%);
    border-radius: 0.5px;
}

.formats-cards .formats-card:nth-child(2), .formats-cards .formats-card:nth-child(2):hover {
    background: linear-gradient(139.71deg, #00A2FF 0%, #47BCFF 50.72%, #00A2FF 101.43%);
    border-radius: 0.5px;
}

.formats-cards .formats-card:nth-child(3), .formats-cards .formats-card:nth-child(3):hover {
    background: linear-gradient(139.02deg, #0254C1 0%, #0B74FF 50.52%, #005EDB 100%);
    border-radius: 0.5px;
}

.formats-cards .formats-card:nth-child(4), .formats-cards .formats-card:nth-child(4):hover {
    background: linear-gradient(139.02deg, #002667 0%, #0148A7 49.48%, #002667 100%);
    border-radius: 0.5px;
}

.formats-cards .hl {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: bold;
    font-size: 2.143rem;
    line-height: 2.714rem;
    letter-spacing: -0.01em;
    color: #FBFBFB;
}

.formats-cards .formats-card .card-bt-wrap {
    transform: rotate(-0.2deg);
    border-top: 1px solid rgb(251, 251, 251, 0.2);
    margin-top: 15px;
    padding-top: 2.286rem;
}

.formats-cards .formats-card .card-bt-wrap p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    min-height: 3.857rem;
}

.formats-cards .button-reg {
    border: 1px solid #FBFBFB;
    box-sizing: border-box;
    border-radius: 1px;
    color: #FFFFFF;
    margin: 3.286rem 0 auto;
    height: 2.857rem;
    font-size: 1rem;
    /*width: 230px;*/
}

.formats-cards .button-reg:hover {
    background: #FBFBFB;
    border: 1px solid #FBFBFB !important;
    color: #156EE6 !important;
}

.formats-cards .button-description, .participation-cards .button-description {
    padding: 2.143rem 0;
    margin-top: -1rem;
    margin-bottom: 0;
    border-bottom: 1px solid #DCEFFE;
    text-align: center;
}

.formats-cards .button-description a span, .participation-cards .button-description a span {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
}

.formats-cards .button-description a:hover span, .participation-cards .button-description a:hover span {
    color: #156EE6;
}

.border-none {
    border: none !important;
}

.formats-cards .button-description a .opened, .participation-cards .button-description a .opened {
    display: none;
}

.formats-cards .button-description a:hover, .participation-cards .button-description a:hover {
    text-decoration: none;
    color: #156EE6;
}

.formats-card.formats-card-long-text, .formats-card.formats-card-long-text:hover {
    background: #FFFFFF !important;
    padding: 1.071rem;
    border-bottom: 1px solid #DCEFFE;
    position: relative;
}

.formats-card-long-text, .participation-cards-long-text {
    display: none;
}

.participation-cards-long-text {
    /*padding: 30px 0;*/
    /*border-bottom: 1px solid #DCEFFE;*/
}

.participation-cards-long-text .ex-card {
    margin: 0;
}

.participation-cards-long-text .ex-card .ex-card__title .ex-card__vars {
    margin: 0;
}

.participation-cards-long-text .ex-card .ex-card__title .ex-card__vars div {
    /*margin-right: 40px;*/
}

.participation-cards-long-text .ex-card .ex-card__title {
    padding: 0;
}

.participation-cards-long-text .participation-cards-long-text-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.443rem;
    line-height: 1rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 0;
    background: #FBFBFB;
    border-radius: 0.5px;
    padding: 1.286rem 1.071rem;
}

.participation-cards-long-text .alone {
    padding: 1.286rem 0 2.714rem;
}

.participation-cards-long-text .alone .participation-card, .participation-cards-long-text.some .participation-card {
    padding: 0 1.071rem;
}

.participation-cards-long-text.some .participation-cards-long-text-subtitle {
    padding: 1.443rem 1.071rem 1.071rem;
}

.participation-cards-long-text.some {
    padding-bottom: 2.714rem;
}

.text-align-center {
    text-align: center;
}

.participation-cards-long-text-subtitle.blue-square, .participation-cards-long-text-text.blue-square {
    position: relative;
}

.participation-cards-long-text-subtitle.blue-square::before {
    background: #156EE6;
    content: "\00A0";
    position: absolute;
    left: 0;
    top: 2.09rem;
    width: 0.429rem;
    height: 0.429rem;
}

.participation-cards-long-text-text.blue-square {
    padding: 1.143rem 0 0;
}

.participation-cards-long-text-text.blue-square::before {
    background: #156EE6;
    content: "\00A0";
    position: absolute;
    left: -1.071rem;
    top: 1.8rem;
    width: 0.429rem;
    height: 0.429rem;
}

.participation-cards-long-text .ex-card .ex-card__title .ex-card__vars .participation-cards-long-text-subtitle, .participation-cards-long-text .participation-cards-long-text-subtitle {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 0;
    min-width: 5rem;
}

.participation-cards-long-text .ex-card .ex-card__title .ex-card__vars .participation-cards-long-text-text, .participation-cards-long-text .participation-cards-long-text-text {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 0;
    min-width: 5rem;
}

.participation-cards-long-text .ex-card__vars p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.formats-card.formats-card-long-text .formats-card-long-text-header {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #000000;
    padding-bottom: 0px;
    padding-top: 15px;
}

.formats-card.formats-card-long-text p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #212529;
}

.formats-card-long-text-before::before {
    content: "\00A0";
    position: absolute;
    left: 0px;
    top: 1.443rem;
    width: 0.429rem;
    height: 0.429rem;
}

.formats-card-long-text-before.item1::before {
    background: #00D4FF;
}

.formats-card-long-text-before.item2::before {
    background: #00A2FF;
}

.formats-card-long-text-before.item3::before {
    background: #005EDB;
}

.formats-card-long-text-before.item4::before {
    background: #002667;
}

.button-description a {
    overflow: hidden;
    display: block;
}

.button-description a svg {
    margin-left: 1.071rem;
    width: 0.786rem;
    height: 0.714rem;
}

.button-description a:hover .closed {
    -webkit-animation: slide-down 1s linear infinite;
    animation: slide-down 1.5s linear infinite;
}

.button-description a:hover .opened {
    -webkit-animation: slide-up 1s linear infinite;
    animation: slide-up 1.5s linear infinite;
}

.button-description a:hover svg path {
    stroke: #156EE6;
}

@-webkit-keyframes slide-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(1.443rem);
        opacity: 0;
    }
    50% {
        transform: translateY(-1.443rem);
        opacity: 0;
    }
    75% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(1.443rem);
        opacity: 0;
    }
    50% {
        transform: translateY(-1.443rem);
        opacity: 0;
    }
    75% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-1.443rem);
        opacity: 0;
    }
    50% {
        transform: translateY(1.443rem);
        opacity: 0;
    }
    75% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-1.443rem);
        opacity: 0;
    }
    50% {
        transform: translateY(1.443rem);
        opacity: 0;
    }
    75% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.preim-i-vozm {
    height: 100%;
}

.preim-i-vozm img {
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 3.929rem;
    width: auto;
}

.preim-i-vozm.text-1 .text, .preim-i-vozm.text-3 .text {
    padding: 4.286rem 4.286rem 4.286rem 6.429rem;
    height: 100%;
}

.preim-i-vozm.text-2 .text, .preim-i-vozm.text-4 .text {
    padding: 4.286rem 0px 4.286rem 7.857rem;
    height: 100%;
}

.section-preim-i-vozm h4 {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.571rem;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 1.286rem;
}

.section-preim-i-vozm p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
    width: 29.286rem;
}

.text-1 {
    border-bottom: 1px solid #DCEFFE;
}

.text-2 {
    padding-left: 7.143rem;
    border-left: 1px solid #DCEFFE;
}

.text-4 {
    padding-left: 7.143rem;
    border-left: 1px solid #DCEFFE;
    border-top: 1px solid #DCEFFE;
}

.text-4::before {
    content: "\00A0";
    width: 5.714rem;
    height: 5.714rem;
    position: absolute;
    left: -1.756rem;
    top: -2.857rem;
    background-color: #ffffff;
}

.register-formats p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin: 0;
}

.register-formats p.title {
    font-size: 1.443rem;
    line-height: 1.756rem;
    color: #FFFFFF;
    margin-bottom: 0.714rem;
}

.register-formats p.subtitle {
    font-size: 1rem;
    line-height: 1.286rem;
    color: #FBFBFB;
}

.register-formats .blue-div-title {
    background: #156EE6;
    padding-top: 1.286rem;
    padding-bottom: 1.071rem;
    margin-top: 3.286rem
}

.register-formats .formats-area .row-padding-top-bottom {
    /*align-items: center;*/
    padding-top: 2.143rem;
    padding-bottom: 2.857rem;
}

.register-formats .formats-area .row-padding-bottom {
    /*align-items: center;*/
    /*padding-top: 2.143rem;*/
    padding-bottom: 2.857rem;
}

.register-formats .formats-area .row-padding-top {
    /*align-items: center;*/
    padding-top: 2.143rem;
    /*padding-bottom: 1.071rem;*/
}

.register-formats .formats-area .row .col-md-12 {
    padding-top: 1.071rem;
    padding-bottom: 1.071rem;
}

.register-formats .grey-title {
    background: #FBFBFB;
    padding: 1.357rem 0;
    margin: 0 1.071rem 0;
}

.register-formats .formats-area .row .col-md-4 {
    padding-top: 1.071rem;
    padding-bottom: 1.071rem;
}

.register-formats .row .col-md-2 {
    text-align: center;
    position: relative;
}

.register-formats .formats-area .row .col-md-2 {
    text-align: center;
    border-right: 0.5px solid rgba(182, 182, 182, 0.6);
    padding-top: 1.071rem;
    padding-bottom: 1.071rem;
}

.register-formats .formats-area .row .col-md-2 div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.register-formats .formats-area .row-buttons .col-md-2 {
    border: none;
}

.register-formats .formats-area .row-buttons .col-md-2 div {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
}

.register-formats span.yes {
    background-image: url(../img/arrow-1.svg);
    background-size: 100%;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transform: rotate(270deg);
}

.register-formats .formats-area .row .col-md-2:last-child {
    border-right: none;
}

.item-list.three-cols-row .item-card {
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 1.443rem);
    background-color: #FFFFFF;
}

.btn-reg {
    height: 2.857rem;
    display: block;
    line-height: 2.857rem;
    color: #FFFFFF;
}

.btn-reg:hover {
    color: #FFFFFF;
}

.btn-reg-2 {
    background: linear-gradient(170.63deg, #00BBF5 0%, #28CBFF 48.44%, #00BBF5 100%);
}

.btn-reg-3 {
    background: linear-gradient(170.86deg, #00A2FF 0%, #47BCFF 50.72%, #00A2FF 101.43%);
}

.btn-reg-5583 {
    background: linear-gradient(170.63deg, #0254C1 0%, #0B74FF 50.52%, #005EDB 100%);
}

.btn-reg-28928 {
    background: linear-gradient(170.63deg, #002667 0%, #0148A7 49.48%, #002667 100%);
}

footer {
    background: #FBFBFB;
    padding: 25px 0;
    color: #000000;
    font-size: 1.286rem;
}

footer ul li {
    margin-bottom: 7px;
}

footer ul li a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.02em;
    color: #212529;
}

footer .row-ul {
    border-bottom: 1px solid #E5E5E5;
    padding: 2.143rem 0;
}

footer .copyright {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #000000;
}

footer .social {
    display: inline-block;
}

footer .social a {
    padding: 0 0.5rem;
}

footer .language {
    display: inline-block;
    padding-left: 4.286rem;
}

footer .social a svg, footer .language a img {
    fill: #B6B6B6;
    width: 1.286rem;
    height: 1.286rem;
}

footer .social a:hover svg {
    fill: #156EE6;
}

footer .language a img {
    margin-right: 1.071rem;
}

footer .language a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1.071rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
}

footer a:hover {
    color: #156EE6;
    text-decoration: none;
}

.svg-sub-menu {
    position: absolute;
    bottom: -5px;
    z-index: 999999;
    left: 0;
    text-align: center;
    width: 100%;
    display: none;
}

header li:hover .svg-sub-menu {
    display: block;
}

/*.slick-dots{*/
/*    justify-content: center;*/
/*}*/
.slick-dots {
    bottom: -1.071rem;
}

.slick-dots li button:before {
    width: 0.429rem;
    height: 0.429rem;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: #DCEFFE;
    content: '';
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.slick-dots li.slick-active button:before {
    content: none;
}

.partners-slider ul.slick-dots li {
    padding: 0;
    border: none;
}

/*.news-forum, .news-sector, .news-partners{*/
/*    display: none;*/
/*}*/
.news-list .slider_slick_filter {
    margin-bottom: 40px;
}

.news-list .spiker-about {
    padding: 1rem 0.864rem 1.748rem;
}

a:hover {
    text-decoration: none !important;
}

/*.slick-dots {*/
/*    z-index: 5;*/
/*}*/
.slick-dots li {
    margin: 0;
    width: 1rem;
    height: 1rem;
}

.slick-dots li button {
    width: 0.939rem;
    height: 0.939rem;
    padding: 0;
}

/*.slick-dots li button:before {*/
/*    width: 6px;*/
/*    height: 6px;*/
/*    padding: 0;*/
/*    top: 3px;*/
/*    left: 3px;*/
/*}*/
.slick-dots li.slick-active button {
    background: url(../img/Rectangle21.png) no-repeat;
    background-size: contain;
    position: relative;
}

.slider-ul {
    font-size: 0;
}

.main-subscribe input::placeholder, .footer-subscribe-form input::placeholder, .question-form input::placeholder,
.main-subscribe input::-moz-placeholder, .footer-subscribe-form input::-moz-placeholder, .question-form input::-moz-placeholder,
.main-subscribe input::-ms-input-placeholder, .footer-subscribe-form input::-ms-input-placeholder, .question-form input::-ms-input-placeholder,
.main-subscribe input::-webkit-input-placeholder, .footer-subscribe-form input::-webkit-input-placeholder, .question-form input::-webkit-input-placeholder {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
}

.main-subscribe input {
    width: 100%;
    border: none;
    height: 3.214rem;
    margin-bottom: 2.143rem;
    padding-left: 1rem;
}

.footer-subscribe-form input[type="email"] {
    width: 20rem;
    height: 2.857rem;
    border: none;
    padding: 0 0 0 1rem;
    vertical-align: top;

    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.857rem;
}

.footer-subscribe-form input[type="submit"] {
    height: 2.857rem;
    border: none;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -0.01em;
    color: #FBFBFB;
    padding: 0 1.756rem;
    margin-left: -4px;
    vertical-align: top;
}

.footer-subscribe-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1.071rem;
    letter-spacing: -0.01em;
    color: #212529;
}

.main-subscribe input[type="submit"], .footer-subscribe-form input[type="submit"], .question-form input[type="submit"] {
    background: #156EE6;
    color: #FBFBFB;
    border-radius: 0.5px;
}

.main-subscribe input[type="submit"]:hover, .footer-subscribe-form input[type="submit"]:hover, .question-form input[type="submit"]:hover {
    background: #0254C1;
}

/* Ð´Ð»Ñ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð° input c type="checkbox" */
.filter-checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* Ð´Ð»Ñ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð° label, ÑÐ²ÑÐ·Ð°Ð½Ð½Ð¾Ð³Ð¾ Ñ .custom-checkbox */
.filter-checkbox > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* ÑÐ¾Ð·Ð´Ð°Ð½Ð¸Ðµ Ð² label Ð¿ÑÐµÐ²Ð´Ð¾ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð° before ÑÐ¾ ÑÐ»ÐµÐ´ÑƒÑŽÑ‰Ð¸Ð¼Ð¸ ÑÑ‚Ð¸Ð»ÑÐ¼Ð¸ */
.filter-checkbox > span::before {
    content: '';
    display: inline-block;
    width: 1.286rem;
    height: 1.286rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #156EE6;
    border-radius: 0.5px;
    margin-right: 1.071rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* ÑÑ‚Ð¸Ð»Ð¸ Ð¿Ñ€Ð¸ Ð½Ð°Ð²ÐµÐ´ÐµÐ½Ð¸Ð¸ ÐºÑƒÑ€ÑÐ¾Ñ€Ð° Ð½Ð° checkbox */
.filter-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: #156EE6;
}

/* ÑÑ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð°ÐºÑ‚Ð¸Ð²Ð½Ð¾Ð³Ð¾ Ñ‡ÐµÐºÐ±Ð¾ÐºÑÐ° (Ð¿Ñ€Ð¸ Ð½Ð°Ð¶Ð°Ñ‚Ð¸Ð¸ Ð½Ð° Ð½ÐµÐ³Ð¾) */
.filter-checkbox > input:not(:disabled):active + span::before {
    /*background-color: #156EE6;*/
    /*border-color: #156EE6;*/
}

/* ÑÑ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ñ‡ÐµÐºÐ±Ð¾ÐºÑÐ°, Ð½Ð°Ñ…Ð¾Ð´ÑÑ‰ÐµÐ³Ð¾ÑÑ Ð² Ñ„Ð¾ÐºÑƒÑÐµ */
.filter-checkbox > input:focus + span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* ÑÑ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ñ‡ÐµÐºÐ±Ð¾ÐºÑÐ°, Ð½Ð°Ñ…Ð¾Ð´ÑÑ‰ÐµÐ³Ð¾ÑÑ Ð² Ñ„Ð¾ÐºÑƒÑÐµ Ð¸ Ð½Ðµ Ð½Ð°Ñ…Ð¾Ð´ÑÑ‰ÐµÐ³Ð¾ÑÑ Ð² ÑÐ¾ÑÑ‚Ð¾ÑÐ½Ð¸Ð¸ checked */
.filter-checkbox > input:focus:not(:checked) + span::before {
    border-color: #156EE6;
}

/* ÑÑ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ñ‡ÐµÐºÐ±Ð¾ÐºÑÐ°, Ð½Ð°Ñ…Ð¾Ð´ÑÑ‰ÐµÐ³Ð¾ÑÑ Ð² ÑÐ¾ÑÑ‚Ð¾ÑÐ½Ð¸Ð¸ checked */
.filter-checkbox > input:checked + span::before {
    border-color: #156EE6;
    background-color: #156EE6;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='6.36328' width='1.7' height='4.84615' rx='0.4' transform='rotate(-45 0 6.36328)' fill='white'/%3E%3Crect x='2.44922' y='8.8125' width='9' height='1.7' rx='0.4' transform='rotate(-45 2.44922 8.8125)' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 1rem;
    background-position: center;
}

/* ÑÑ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ñ‡ÐµÐºÐ±Ð¾ÐºÑÐ°, Ð½Ð°Ñ…Ð¾Ð´ÑÑ‰ÐµÐ³Ð¾ÑÑ Ð² ÑÐ¾ÑÑ‚Ð¾ÑÐ½Ð¸Ð¸ disabled */
.filter-checkbox > input:disabled + span::before {
    background-color: #e9ecef;
}

.filter-checkbox {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
}

.filter-checkbox a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
    text-decoration: underline;
}

.footer-organizations {
    padding-top: 1.443rem;
}

.footer-organizations p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1.071rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
}

.footer-organizations a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.714rem;
    line-height: 0.939rem;
    letter-spacing: -0.01em;
    color: #505050;
}

.footer-organizations div {
    display: inline-block;
    position: relative;
    max-width: 12.143rem;
    margin-right: 1.443rem;
}

.footer-organizations img {
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.footer-organizations div p {
    display: inline-block;
    padding-left: 2.857rem;
    margin: auto;
}

.slick-slide {
    padding-bottom: 1.071rem;
}

.news-img {
    height: 13.143rem;
}

.spiker-about.news-about {
    background: #FFFFFF;
}

.spiker-about.news-about .news-date {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 160%;
    color: #B6B6B6;
    padding-bottom: 1.071rem;
}

.spiker-about.news-about .news-content {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.571rem;
    color: #212529;
}

.spiker-about.news-about .news-about-bottom {
    margin-bottom: 1.443rem;
    position: absolute;
    bottom: 0px;
}

.spiker-about.news-about .news-about-bottom a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.143rem;
    text-align: center;
    color: #B6B6B6;
}

.spiker-about.news-about .news-about-bottom a:hover {
    color: #156EE6;
}

.footer-contacts atech-days-first-screen-text {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.footer-contacts a {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #000000;
    vertical-align: middle;
}

.footer-contacts a:hover {
    color: #156EE6;
}

.footer-contacts a img {
    margin-right: 1.071rem;
    width: 1.143rem;
    height: 1.143rem;
}

.tech-days-text p {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
    margin-bottom: 1.443rem;
}

.key-subjects-sub-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #212529;
}

.key-subjects-item {
    display: inline-block;
    position: relative;
    margin-right: 1.443rem;
}

.key-subjects-item div {
    border: 1px solid #156EE6;
    width: 5rem;
    height: 5rem;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 0.5px;
}

.key-subjects-item div img {
    width: 2.857rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.key-subjects-item p {
    display: inline-block;
    padding-left: 7.143rem;
    margin: auto;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.advantage-subjects-item {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding: 40px 0;
    width: 100%;
}

.advantage-subjects-item div {
    border: 1px solid #156EE6;
    width: 2.857rem;
    height: 2.857rem;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 0.5px;
}

.advantage-subjects-item div span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.443rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #156EE6;
}

.advantage-subjects-item p {
    display: inline-block;
    padding-left: 3.929rem;
    margin: auto;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.tech-days-review {
    background: #ffffff;
    background: #ffffff;
    margin-right: 2.143rem;
    padding: 2.143rem 2.143rem 0 2.143rem;
}

.tech-days-review-text {
    font-style: normal;
    font-family: AktivGroteskRegular;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
}

.tech-days-review-subjects-item {
    display: inline-block;
    position: relative;
    margin-right: 1.443rem;
    padding: 3.571rem 0 2.5rem;
    width: 100%;
}

.tech-days-review-subjects-item div {
    width: 80px;
    height: 80px;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 0.5px;
}

.tech-days-review-subjects-item div img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.tech-days-review-subjects-item p {
    display: inline-block;
    /*padding-left: 90px;*/
    margin: auto;
    width: 100%;
}

.tech-days-review-subjects-item .tech-days-review-name {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 5px;
}

.tech-days-review-subjects-item .tech-days-review-job {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
    margin-bottom: 0.714rem;
}

.brands_slider_slick.reviews ul, .brands_slider_slick.test ul {
    justify-content: center;
}

.process-num {
    border-radius: 0.5px;
    width: 3.571rem;
    height: 3.571rem;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.756rem;
    line-height: 3.571rem;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-align: center;
}

.process-num-one {
    background: linear-gradient(143.63deg, #00A2FF 0%, #47BCFF 50.72%, #00A2FF 101.43%);
}

.process-num-two {
    background: linear-gradient(142.96deg, #0254C1 0%, #0B74FF 50.52%, #005EDB 100%);
}

.process-num-three {
    background: linear-gradient(142.96deg, #002667 0%, #0148A7 49.48%, #002667 100%);
}

.process-num-delim {
    padding-top: 1rem;
    padding-bottom: 2.143rem;
    margin-bottom: 2.143rem;
    border-bottom: 1px solid #156EE6;
}

.process-num-delim.descr {
    min-height: 14rem;
}

.process-num-delim.descr a:hover {
    color: #0254C1;
    text-decoration: none;
}

.process-num-delim .title-text {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.443rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #000000;
}

.process-num-delim .descr-text {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
}

.question-form input {
    width: 100%;
    border: none;
    height: 3.214rem;
    padding: 0 2.143rem;
    margin-bottom: 2.143rem;

}

.about-stats .stats-number {
    font-family: AktivGroteskRegular;
    font-size: 4.286rem !important;
    line-height: 4.286rem;
}

.about-stats .stats-desc {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #212529;
    padding-top: 1.429rem;
}

/*.about-stats .about-stats__content:nth-child(1){*/
/*    padding: 0 0 0 51px;*/
/*}*/
/*.about-stats .about-stats__content:nth-child(2){*/
/*    padding: 0 0 0 86px;*/
/*}*/
/*.about-stats .about-stats__content:nth-child(3){*/
/*    padding: 0 0 0 83px;*/
/*}*/
/*.about-stats .about-stats__content:nth-child(4){*/
/*    padding: 0 0 0 60px;*/
/*}*/
.mobile_menu {
    width: 100%;
    padding: 0;
}

.mobile_menu .close-mobile-m {
    top: 40px;
    right: 20px;
}

.mobile_menu .modal-video-close-btn:before, .mobile_menu .modal-video-close-btn:after {
    background: #156EE6;
}

.mobile-search {
    padding-top: 35px;
}

.mobile-search input {
    border: none;
    border-bottom: 1px solid #FBFBFB;
    padding: 5px 0;
    background: url('../img/ei_search.png') no-repeat;
    background-position: right;
    opacity: 1;

    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FBFBFB;
    width: 200px;
}

.mobile-search input::-moz-placeholder {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FBFBFB;
}

.mobile-search input::-webkit-input-placeholder {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FBFBFB;
}

.mobile-search input:-ms-input-placeholder {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FBFBFB;
}

.mobile-search input::-ms-input-placeholder {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FBFBFB;
}

.mobile-search input::placeholder {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FBFBFB;
}

.mobile_menu-phone {
    border-top: none;
    padding: 0 20px;
    margin-top: 0;
}

.mob-content {
    display: none;
}

.teaser-content__subtitle {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.5rem;
    padding-bottom: 2.5rem;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.teaser-content__button a, .tech-days-first-screen-text a {
    background: #0254C1;
    min-width: 100%;
    text-align: center;
    border-radius: 0.5px;
    height: 2.857rem;
    padding: 0;
    line-height: 2.857rem;
}

.btn-tech-days-order {
    height: 2.857rem;
    line-height: 2.857rem;
    padding: 0;
    width: 27.643rem;
}

section#about .welcome {
    padding-top: 6.143rem;
}

.partners-page p.title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.571rem;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 1.286rem;
}

.partners-page p.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.571rem;
    letter-spacing: -0.01em;
    color: #212529;
    margin-bottom: 3.571rem;
}

.all_partners_slider-name {
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 1.443rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 1.071rem;
}

.all_partners_slider-content {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 2.143rem;
}

.all_partners_slider-site-bottom a, .all_partners_slider-site-bottom {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    letter-spacing: -0.01em;
    color: #B6B6B6;
    margin-bottom: 0;
}

.all_partners_slider-site-bottom a:hover {
    color: #156EE6;
}

.all_partners_slider_slick {
    margin: 0 -2.143rem;
}

.partners_slider_slick .slick-list, .smi_slider .slick-list {
    padding: 0 5% 0 0;
}

.all_partners_slider-item {
    padding: 0 2.143rem 2.5rem;
    border-radius: 0.5px;
}

.all_partners_slider-about {
    background: #FBFBFB;
    padding: 0 0.857rem 1.143rem;
    min-height: 13.571rem;
}

.all_partners_slider-img {
    background-color: #FBFBFB;
    display: flex;
    height: 14.286rem;
}

.all_partners_slider-img img {
    width: 14.286rem;
    margin: auto;
}

.partners_all_signup, .partners_all_signup:focus {
    background: #156EE6;
    border: 1px solid #156EE6;
    box-sizing: border-box;
    border-radius: 0.5px;
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.857rem;
    height: 2.857rem;
    width: calc(1 / 4 * 100% - (1 - 1 / 4) * 4.286rem);
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.partners_all_signup:hover {
    background: #0254C1;
    border: 1px solid #0254C1;
    box-sizing: border-box;
    border-radius: 0.5px;
    color: #FFFFFF;
}

.partners-page .partner_type {
    padding-bottom: 7.143rem;
}

#signupPartnersModal .modal-header, #validatePhoneBySMSModal .modal-header, #subscribeResultModal .modal-header {
    border: none;
    border-radius: 0;
    padding: 1.5rem 2.5rem 0;
}

#signupPartnersModal .modal-header .modal-title, #validatePhoneBySMSModal .modal-header .modal-title, #subscribeResultModal .modal-header .modal-title {
    font-family: AktivGroteskRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 1.443rem;
    line-height: 2.143rem;
    letter-spacing: -0.01em;
    color: #212529;
    width: 100%;
    position: relative;
}

#signupPartnersModal .modal-content, #validatePhoneBySMSModal .modal-content {
    border-radius: 0;
    background: #FBFBFB;
}

#signupPartnersModal .modal-dialog_size, #subscribeResultModal .modal-dialog_size {
    width: 39.286rem;
}

#signupPartnersModal .form-group {
    margin: 0;
}

#signupPartnersModal input[type=submit] {
    width: 100%;
    margin-top: 1.071rem;
    margin-bottom: 3.214rem;
    height: 2.857rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    letter-spacing: -0.01em;
}

#validatePhoneBySMSModal input[type=submit] {
    width: 100%;
    margin-top: 1.071rem;
    height: 2.857rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    letter-spacing: -0.01em;
}

#validatePhoneBySMSModal .modal-dialog_size {
    width: 42.143rem;
}

#validatePhoneBySMSModal .modal-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.143rem;
    line-height: 2.857rem;
    letter-spacing: -0.01em;
    color: #000000;
}

#validatePhoneBySMSModal .pin input {
    width: 4.286rem;
    display: inline-block;
    margin: 0 0.714rem;
    padding: .375rem 1.443rem !important;
}

.desctop-right {
    float: right;
}

.key-subjects-item-row {
    padding: 30px 0;
    height: 9.286rem;
}

.advantage-mob {
    display: none;
}

.advantage-mob .slick-list {
    padding: 0 20% 0 0;
}

.advantage-mob-item {
    padding: 0 15px 2.5rem;
}

.advantage-mob-item div {
    height: 13.571rem;
}

.advantage-mob {
    margin: 0 -15px;
}

.process-item {
    padding: 2.143rem 0;
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 1.443rem);
}

.item-list .item-card .item-content .item-title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.443rem;
    line-height: 1.571rem;
    color: #212529;
    margin-bottom: 1.5rem;
}

.item-list .item-card .item-content .item-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
    color: #212529;
    padding-bottom: 1.571rem;
    margin-bottom: 1.286rem;
    border-bottom: 1px solid #DCEFFE;
}

.item-list .item-card .item-content .item-list {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
    margin-bottom: 1.071rem;
    padding-left: 1.443rem;
    position: relative;
}

.item-list .item-card .item-content .item-list::before {
    background: #156EE6;
    content: "\00A0";
    position: absolute;
    left: 0px;
    top: 0.5rem;
    width: 0.429rem;
    height: 0.429rem;
}

.formats-cards .vystavka-preim-item {
    padding: 1.071rem 1.071rem 1.443rem 1.071rem;
    width: calc(1 / 4 * 100% - (1 - 1 / 4) * 4.286rem);
}

.formats-cards .vystavka-preim-item:nth-child(odd) {
    background: #FBFBFB;
}

.formats-cards {
    padding: 0;
}

.main-smi-div {
    padding-top: 6rem;
}
.teaser-content-buttons {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 1055px) {
    .advantage {
        display: none;
    }

    .advantage-mob {
        display: flex;
    }

    .advantage-subjects-item p {
        font-size: 0.857rem;
    }

    .advantage-mob-item div {
        height: 17.857rem;
    }

    .tech-mainpage .tech-slider__item img {
        height: auto;
    }

    .slider-ul {
        white-space: nowrap;
        overflow-x: scroll;
        padding-bottom: 35px;
    }

    .slick-dots {
        justify-content: center;
    }

    .slider_slick_filter li {
        padding: 1rem 2.143rem;
    }

    .new-brands-slider-arrws {
        display: none !important;
    }

    .formats-cards .formats-card {
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 4.286rem);
        margin-bottom: 4.286rem;
    }

    .formats-cards .vystavka-preim-item {
        width: calc(1 / 2 * 100% - (1 - 1 / 2) * 4.286rem);
        background: #FFFFFF !important;
    }

    .button-description {
        display: none;
    }

    .section-preim-i-vozm p {
        width: auto;
    }

    .preim-i-vozm.text-1 .text, .preim-i-vozm.text-3 .text {
        padding: 2rem 1rem 2rem 7rem;
    }

    .preim-i-vozm.text-2 .text, .preim-i-vozm.text-4 .text {
        padding: 2rem 0 2rem 7rem;
    }

    .text-2 {
        padding-left: 2rem;
    }

    .text-4 {
        padding-left: 2rem;
    }

    .tech-mainpage {
        display: none;
    }

    .key-subjects-item-row {
        padding: 0;
        height: auto;
    }

    .key-subjects-item {
        display: flex;
        margin-right: 0;
        height: 7rem;
    }

    .key-subjects-item p {
        font-size: 1rem;
        margin: auto 0;
    }

    .desctop-right {
        float: none;
    }

    .logo-col {
        padding-right: 0;
    }

    header .header-container {
        padding: 1.443rem 5%;
    }

    .smi_slider .brand-img img {
        margin: 0 auto;
    }

    .speakers_slider_slick, .news-slider, .all_partners_slider_slick {
        margin: 0 -15px;
    }

    .speakers_slider_slick .slick-list, .news-slider .slick-list, .all_partners_slider_slick .slick-list {
        padding: 0 20% 0 0;
    }

    .speakers_slider_slick .slick-slide, .vystavka-slider-nav .slick-slide, .news-slider .slick-slide, .all_partners_slider_slick .slick-slide {
        padding: 0 15px 2.5rem;
    }

    .formats-cards {
        margin: 30px 20px;
    }

    .phone-header__cont {
        display: none;
    }

    .footer-subscribe-form input[type="email"] {
        width: auto;
        padding: 0 2rem 0 1rem;
    }

    .mob-align-center {
        align-items: center;
    }

    .col-burger {
        padding: 0;
        position: absolute;
        right: 0px;
    }

    .teaser-content__title {
        font-size: 2.143rem;
        line-height: 2.5rem;
    }

    .teaser-content__subtitle {
        font-family: AktivGroteskRegular;
        font-size: 1rem;
    }

    .teaser-content__button a, .tech-days-first-screen-text a {
        width: 100%;
    }

    section#about {
        padding-top: 6.143rem;
    }

    section#about .welcome {
        padding-top: 3.489rem
    }

    #about .about-stats .row {
        margin: 0;
    }

    #about .about-stats .row {
        margin: 0;
    }

    #about .about-stats .col-12 {
        padding: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 1920px) {
    header li {
        padding: 1.429rem 2.822rem;
    }

    .about-text p {
        font-size: 1.143rem;
    }

    .section-preim-i-vozm p {
        width: 40rem;
    }

    .logo-col {
        padding-right: 12.143rem;
    }
}

@media only screen and (max-width: 1366px) {
    .logo-col {
        padding-right: 1rem;
    }

    header li {
        padding: 1.429rem 0.7rem;
    }
}

@media only screen and (min-width: 642px) {
    .faq-answer-mob {
        display: none !important;
    }
}

@media only screen and (max-width: 642px) {

    section {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .org_slider_slick .brand-img img {
        margin: 0 auto;
    }

    .vystaka-slider-for-img {
        height: 14.286rem
    }

    .vystavka-slider-nav {
        display: none;
    }

    .about-stats .about-stats__content {
        padding: 0 !important;
    }

    .formats-cards .vystavka-preim-item:nth-child(odd) {
        background: #FBFBFB !important;
    }

    .formats-cards .vystavka-preim-item, .participation-cards .participation-card {
        width: 100%;
    }

    .ex-card .ex-card__title .ex-card__vars {
        margin: 2.5rem 0 0;
    }

    .ex-card__subtitle {
        margin: 0;
    }

    .container-fluid.formats-area {
        padding: 0;
    }

    .container-fluid.formats-area .mob-scrol .row {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
    }

    .row-gray-title-mob {
        background: #fbfbfb;
    }

    .item-list.three-cols-row .item-card {
        width: 100%;
    }

    .register-formats p.title {
        font-size: 1.143rem;
        line-height: 1.443rem;
    }

    .register-formats p {
        font-size: 1rem;
        line-height: 1.286rem;
    }

    .register-formats .formats-area .row .col-md-2 {
        border: none;
    }

    .register-formats .formats-area .row .col-md-2 div {
        width: 100%;
    }

    .mob-scrol {
        height: 27.643rem;
        overflow-y: scroll;
    }

    .register-formats .grey-title {
        /*padding: 15px;*/
        margin: 0;
    }

    .register-formats .col-xs-3 {
        width: 25% !important;
    }

    .register-formats .formats-area .row-padding-top-bottom .col-xs-3 p, .register-formats .formats-area .row-padding-top-bottom .col-xs-12 p {
        font-size: 1rem;
        line-height: 1.286rem;
    }

    .register-formats .formats-area .row .col-md-4 {
        padding: 1.071rem 0;
    }

    .register-formats .formats-area .col-xs-3 p {
        font-size: 0.714rem;
        line-height: 0.939rem;
    }

    .register-formats .formats-area .col-xs-12 p {
        font-size: 0.857rem;
        line-height: 1.286rem;
    }

    .faq-question {
        /*display: flex;*/
    }

    .faq-question.active i {
        transform: rotate(0);
    }

    .faq-question i {
        color: rgba(182, 182, 182, 0.6);
        transform: rotate(270deg);
    }

    .faq-question:hover i {
        color: #156EE6;
    }

    .faq-answer-mob {
        margin-top: 0.857rem;
        font-size: 0.857rem;
    }

    .process-item {
        width: 100%;
    }

    .tech-days-review-text {
        min-height: 16rem;
    }

    .partners-page .partner_type {
        padding-bottom: 2.857rem;
    }

    .partners_all_signup, .partners_all_signup:focus {
        width: 100%;
    }

    .partners_slider_slick {
        margin-left: 10%;
    }

    .partners_slider_slick .slick-list {
        padding: 0 30% 0 0;
    }

    .section-preim-i-vozm p {
        width: auto;
    }

    .modal-content__speakers .modal-header .modal-title {
        font-size: 1.443rem;
        line-height: 1.756rem;
        justify-content: space-between;
        display: flex;
    }

    .modal-content__speakers .modal-header .modal-title span {
        width: calc(100% - 2.143rem);
    }

    .sticky-modal-panel .text {
        display: none;
    }

    .sticky-modal-panel {
        padding: 0.939rem 1.443rem;
    }

    .modal-content__speakers .modal-singup-div {
        padding-left: 0;
    }

    .logo-col img, .logo-col svg {
        height: 4.286rem;
    }

    .filter-checkbox > span, .filter-checkbox a {
        /*display: inline-block;*/
        font-size: 0.714rem;
    }

    .preim-i-vozm .text, .preim-i-vozm .text {
        padding: 60px 0px 20px 10px !important;
    }

    .preim-i-vozm img {
        top: -10px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        margin: 0;
    }

    .preim-i-vozm.text-1, .preim-i-vozm.text-2, .preim-i-vozm.text-3, .preim-i-vozm.text-4 {
        padding-left: 0;
        border: none;
        margin-bottom: 3.214rem;
    }

    .section-preim-i-vozm h4, .section-preim-i-vozm .descr-text {
        text-align: center;

    }

    .col-12, .col-sm-12 {
        padding: 0;
    }

    .partners-slider-title, .section-title__black {
        font-size: 1.443rem;
    }

    .speaker-slider__desktop-speaker-about {
        display: block !important;
    }

    .mob-content {
        display: block;
    }

    .desc-content {
        display: none;
    }

    footer .social {
        float: left;
    }

    .mob-about-text h3 {
        font-family: AktivGroteskRegular;
        font-style: normal;
        font-weight: normal;
        font-size: 1.443rem;
        line-height: 1.443rem;
        letter-spacing: -0.01em;
        color: #000000;
        padding: 0 0 2.143rem;
    }

    .col-sm-order-0 {
        order: 0;
    }

    .col-sm-order-1 {
        order: 1;
    }

    .about-stats .stats-number {
        font-size: 3.929rem !important;
        text-align: center;
    }

    .about-stats .about-stats__content .stats-desc {
        margin-left: 0;
        text-align: center;
    }

    .about-stats .about-stats__content {
        margin-bottom: 2rem;
    }

    .about-text h3 {
        display: none;
    }

    .footer-organizations div {
        display: inline-block;
        position: relative;
        max-width: 160px;
        margin-right: 1px;
    }

    .footer-organizations div p {
        display: inline-block;
        padding-left: 35px;
        margin: auto;
    }

    body .partners-slider .container-fluid {
        padding-right: 0;
    }
}

.teaser-content {
    margin: auto 0;
    padding: 0;
    width: 500px;
}

.teaser-content__top {
    margin: 0;
}